

/* this is the map container */
.main-map {
    margin: 0 auto;
    margin-top:83px;
    border: 2px solid darkgrey;
    border:none;
    // max-width:1000px;
    width:100%;
    border-bottom:#ECF1F5;
}



/* this refers to the whole page (does not include navigation */

.map-page {
    background: white;
    background: #F2F9FD;
    height:100%;
    // border:1px solid red;
    // height:100vh;
    .footer-container {
        margin-top:0;
    }
}

/* The data-broswer is the component below the map */

.save-container-big{
    background-color: white;
    box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
    width:300px;
    padding:12px 30px;
    padding-right:none;
    border-radius:5px;
    margin-left:-20px;
    margin-top:-10px;
    border:1px solid #ECF1F5;

    .save-container{
        color:#2ba4fc;

        .save-title{
            font-size:1.2rem;
            margin-bottom:5px;
        }
        .save-desc{
            font-size:.9rem;
            filter:brightness(105%);
            display:flex;
            align-items:center;            
            a{
                color: #69C3FF;
            }
            .save-img{
                margin-left:7px;
                height:20px;
            }
        }
    }
}



.data-browser {
    // border:1px solid red;
    background: #F2F9FD;
    display:flex;
    padding-top: 5%;
    @media screen and (max-width:600px){
        background:white;
        padding-top:0;
    }
    
    


    .map-prompt {
        text-align:center;
        font-size:1.3rem;
        color:#2ba4fc;
    }


    .data-category {
        width:98%;
        margin: 10% 0;
        border-radius:5px;

        @media screen and (max-width:600px){
            width:100%;
            padding:5%;
            margin: 0% 5%;
            border-top:1px solid #ecf1f5;
            border-bottom:1px solid #ecf1f5;
            border-radius:0;
            background: #F2F9FD;
        }
    }

    @media screen and (max-width:800px){
        .general-stats-container{
            width:100%;
            padding:0 5%;
            padding-top:5%;
            background: #F2F9FD;
        }
    }
    .special-margins{
        // margin-top:7%;
    }

    .city-overview-container-medium{
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        width:98%;
        margin-bottom:30px;
    }

    .city-overview-container-small{

        .recommendation-grid {
            background-color:white;
            border-radius:10px;
            border-top-left-radius:0;
            border-top-right-radius:0;

            @media screen and (max-width:800px){
                width:100%;
            }

            .recommendation-container{
                width:100%;
                display:flex;

                @media screen and (max-width:800px){
                flex-wrap:wrap;
                }
            }
            .recommendation-title{
                display:flex;
                justify-content:center;
                align-items:center;
                width:31%;
                color:grey;
                font-size:14px;
                margin:0 auto;
                padding:5px 10px;
                border:1px solid #ECF1F5;

                @media screen and (max-width:800px){
                    width:50%;
                    justify-content:center;
                    text-align:center;
                    padding:10px;
                }
            }
            .recommendation{
                cursor:pointer;
                width:23%;
                padding:10px 5px;
                border:1px solid #ECF1F5;
                display:flex;
                flex-wrap:wrap;
                justify-content:center;
                align-items:center;
                @media screen and (max-width:800px){
                    width:50%;
                    padding:10px;
                }


                .recommendation-subtitle{
                    color:grey;
                    width:100%;
                    font-size:14px;
                    text-align:center;
                    margin-bottom:3px;
                    margin-top:0;
                }

                img{
                    height:20px;
                    margin-right:5px;

                    @media screen and (max-width:800px){
                        height:17px;
                    }
                }
                .recommendation-cities{
                    width:100%;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    margin:0;
                }
                &:hover{
                    background-color:#F6F9FC;
                    border:1px solid #F2F9FD;
                }
            }
        }
    }

    .city-overview-container{
        background-color:white;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        padding: 0 10px;
        margin-bottom:0;

        @media screen and (max-width:800px){
            width:100%;
        }
        
        .city-overview-border{
            margin-bottom:0 !important;
            padding-left:2%;
            font-size:1.3rem;
            color:#00bfa5;
            width:100%;
            display:flex;
        }

        .city-info-container{
            padding:15px 7%;
            padding-top:0;
            display:flex;
            justify-content:space-between;

            img{
                height:20px;
                margin-right:15px;
            }
            @media screen and (max-width:800px){
                flex-wrap:wrap;
                padding:15px 3%;
                margin-bottom:0;
            }   

            .city-overview-container-one{
                width:45%;
                display:flex;
                align-items:center;

                @media screen and (max-width:800px){
                    width:100%;
                }

                .overview-title-container-one{
                    width:60%;
                    display:flex;
                    flex-direction:column;

                    .overview-title{
                        margin:10px 0;
                        color:grey;
                        display:flex;
                        font-size:1.1rem;
                    }
                }
                .overview-stats-container-one{
                    width:40%;
                    font-size:1.1rem;
                    display:flex;
                    flex-direction:column;

                    .overview-stats{
                        width:100%;
                        margin:10px 0;
                    }
                }
            }
            .city-overview-container-two{
                width:40%;
                display:flex;
                @media screen and (max-width:800px){
                    width:100%;
                    justify-content:space-between;
                }   

                .overview-title-container-two{
                    width:70%;
                    display:flex;
                    flex-direction:column;

                    .overview-title{
                        margin:10px 0;
                        color:grey;
                        display:flex;
                        font-size:1.1rem;
                    }
                    @media screen and (max-width:800px){
                        width:60%;        
                    }  
                }
                .overview-stats-container-two{
                    width:27%;
                    font-size:1.1rem;
                    display:flex;
                    flex-direction:column;
                    .overview-stats{
                        width:100%;
                        margin:10px 0;    
                    }
                    @media screen and (max-width:800px){
                        width:40%;           
                    }   
                }
            }
        }
    }



    .data-category-titles{
        text-align:center;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;

        .data-category-header{
            font-size:2rem;
            margin-top:5px;
            margin-bottom:0;
            color:#00bfa5;
        }

        .data-category-subtitle{
            font-size:14px;
            width:80%;
            color:grey;
            margin-top:0;
        }
    }

    .chart-title{
        color:#00bfa5;
        margin-top:10px;
        font-size:1.3rem;
        margin-left:2%;
    }

    .rent-container{
        width:100%;
        background-color:white;
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
    }
    
    .home-container{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:flex-start;
        width:100%;
        margin-bottom:30px;
        // border:1px solid grey;

        .ownerMortgage{
            width:20%;
            padding:0;
        }
    }
        .homeprice-container{
            width:78%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            background-color:white;
            
        }
        .homeowner-container{

            .mortgage{
                background-color:white;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                padding: 10px 10px;
            }
            .smoc{
                display:flex;
                align-items:center;
                justify-content:space-between;
                font-size:1.2rem;
                color:#00bfa5;
                margin-bottom:13px;
                
                .smoc-img{
                    // border:1px solid blue;
                }
            }
            .home-title{
                display:none;
            }
            .mortgage-price{
                font-size:1.15rem;
                color:#00bfa5;
                margin-left:3px;
            }
            .mortgage-label-container{
                text-align:center;
                display:flex;
                justify-content:center;
                margin-top:5px;
                // width:100%;
            }
            .city-mortgage-title{
                color:#2e2f38;
                font-size:1rem;
                text-align:center;
                margin-top:8px;
                color:grey;
            }
            .mortgage-label{
                // width:100%;
                color:grey;
                font-size:1rem;
            }
            .month-label{
                font-size:13px;
                color:darkgrey;
            }
        }
    @media screen and (max-width:1300px){
        .mortgage-label-container{
            // border:1px solid red;
        }
        .mortgage-label{
            // border:1px solid blue;
            // width:100%;
        }
        .home-container{
            .ownerMortgage{
                // display:flex;
            }
        }
    }
    @media screen and (max-width:1000px){
        .home-container{
            .homeprice-container{
                width:100%;
                margin-bottom:20px;
            }
            .ownerMortgage{
                width:100%;

                .homeowner-container{
                display:flex;
                justify-content:space-evenly;

                .mortgage{
                    width:30%;
                }
                    .mortgage-label{
                    }
                }
            }
        }
    }
    @media screen and (max-width:800px){
       .home-container{
            .ownerMortgage{
                .homeowner-container{
                    justify-content:space-between;

                    .mortgage{
                        width:45%;
                        .mortgage-label-container{
                            flex-wrap:wrap;

                            .mortgage-label{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    

    .rooms-vacancy-container{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:flex-start;

        .room-container{
            background-color:white;
            width:60%;
            padding:10px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            border-radius:5px;

            @media screen and (max-width:800px){
                width:100%;
            }  
        }

        .vacancy-owner-container{
            background-color:white;
            border-radius:5px;
            width:38%;
            padding:10px;
            height:auto;     
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            
            @media screen and (max-width:800px){
                width:100%;
            }  
        }
    }
    @media screen and (max-width:1000px){
        .rooms-vacancy-container{
            display:inline;

            .room-container{
                width:100%;
                margin-bottom:30px;
            }

            .vacancy-owner-container{
                width:100%;
            }
        }
    }








    // ** Industry styling
    .industries-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .salary-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .commute-travel-container{
        display:flex;
        align-items:flex-start;
        justify-content:space-between;

        @media screen and (max-width:800px){
            flex-wrap:wrap;
        }  


        .commute-container{
            width:76%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;
            @media screen and (max-width:800px){
                width:100%;
            }  
        }

        .travel-container{
            width:22%;
            @media screen and (max-width:800px){
                display:flex;        
                width:100%;

            }  

            @media screen and (max-width:800px){
                .commute-time-container-big{
                    width:100%;
                    display:flex;
                    justify-content:space-between;
                }
            }  

            .commute-time-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                background-color:white;
                margin-bottom:20px;
                display:flex;
                flex-wrap:wrap;
                @media screen and (max-width:800px){
                    margin-bottom:30px;
                    width:45%;
                }

                .commute-city-title{
                    color:#00bfa5;
                    font-size:1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    align-items:flex-end;
                    justify-content:space-between;
                }

                .commute-time-num{
                    font-size:1.9rem;
                    font-weight:400;
                    color:black;
                    text-align:center;
                    width:100%;
                    .commute-clock{
                        height:18px;
                        margin-right:10px;
                    }
                }
                #commute-label{
                    color:grey;
                    font-size:1rem;
                    width:100%;
                    margin-top:3px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }

    .travel-scores-container{

        .travel-scores-container-one{
        }
        .travel-scores-container-two{
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;
            display:flex;
            justify-content:space-around;
            // border:1px solid blue;

            @media screen and (max-width:800px){
            flex-wrap:wrap;
            }  

            .scores-title{
                margin-bottom:0;
            }
            .scores{
                // border:1px solid blue;
                margin-left:0;
                margin-bottom:0;
            }
            .score-subtitle{
                margin-top:0;
                // border:1px solid yellow;
                color:grey;
                font-size:0.9rem;
                margin-bottom:0;
            }
            .score-city{
                // border:1px solid red;
                text-align:center;
                color:grey;
                margin-top:0;
            }
            .score-num{
                // border:1px solid red;
                display:flex;
                justify-content:center;
                align-items:center;

                .score{
                    font-size:2.5rem;
                    display:flex;
                    align-items:center;
                    margin:20px auto;
                }
                img{
                    height:30px;
                    margin-right:8px;
                }
                .bus{
                    height:26px;
                }
                .bike{
                    height:33px;
                }
            }
        }
        .transportation-score-container{
            // width:23%;
            // border:1px solid red;
            @media screen and (max-width:800px){
                width:40%;
                text-align:center;
            }  
        }

        .score-breakdown-container{
            width:25%;            
            // border:1px solid orange;

            @media screen and (max-width:800px){
                width:70%;
                text-align:center;
                margin-bottom:20px;
            }  
            .score-metric{
                display:flex;
                margin-bottom:0;
                justify-content:space-between;

                .score-rate-nums{
                    width:45%;
                    text-align:center;

                    p{
                        margin-bottom:0;
                        color:grey;
                        margin-top:7px;
                    }
                }
                .score-rate-titles{
                    width:50%;
                    p{
                        margin-bottom:0;
                        margin-top:7px;
                        color:grey;
                    }
                    .one{
                        color:#02bfa5;
                    }
                    .two{
                        color:#C3A6FF;
                    }
                    .three{
                        color:#2ca4fc;
                    }
                    .four{
                        color:#FDB461;
                    }
                    .five{
                        color:#FB8072;
                    }
                }
            }
        }
    }

    .other-industries-container{
        display:flex;
        align-items:flex-start;
        justify-content:space-between;
        @media screen and (max-width:800px){
            flex-wrap:wrap;
            // border:1px solid red;
        }  


        .unemployment-container{
            // border:1px solid red;
            display:flex;
            flex-direction:column;
            width:22%;
            @media screen and (max-width:800px){
                width:47%;
                flex-direction:row;  
                flex-wrap:wrap;
                justify-content:center;
                // border:1px solid red;
            }  

            .unemployment-card-container{
                // font-size:1.1vw;
                // height:170px;
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                background-color:white;
                 @media screen and (max-width:800px){
                    height:170px;
                    margin-bottom:30px;           
                }
                 @media screen and (max-width:500px){
                    height:200px;
                    height:auto;
                    margin-bottom:30px;           
                }

                .unemployment-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    justify-content:space-between;
                    @media screen and (max-width:800px){
                        font-size:1rem;
                    }  
                }

                .unemployment-num{
                    font-size:2rem;
                    font-weight:400;
                    color:black;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    .archive{
                        width:20px;
                        margin-right:10px;
                    }
                }
                .unemployment-label{
                    color:grey;
                    font-size:14px;
                    width:100%;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }



        .retirement-container{
            width:52%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;

            @media screen and (max-width:800px){
                width:100%;
                margin-bottom:0px;
            }
        }
        .insurance-container{
            width:22%;
            @media screen and (max-width:800px){
                width:47%;   
                display:flex;
                justify-content:center;      
            }

            .healthinsurance-card-container{
                // height:170px;
                // height:200px;
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                background-color:white;

                @media screen and (max-width:800px){
                    height:170px;
                    width:100%;
                    margin-bottom:30px;
                }
                @media screen and (max-width:500px){
                    height:200px;
                    height:auto;
                }

                .healthinsurance-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    justify-content:space-between;
                }

                .healthinsurance-num{
                    font-size:2rem;
                    font-weight:400;
                    color:black;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    .activity{
                        width:20px;
                        margin-right:6px;
                    }
                }
                .healthinsurance-label{
                    color:grey;
                    // font-size:1.1vw;
                    width:100%;
                    font-size:14px;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }


    //** Culture styling
    .ethnicity-container{
        width:100%;
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .age-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .education-container{
        padding:10px;
        width:100%;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .population-birth-container{
        display:flex;
        align-items:flex-start;
        justify-content:space-between;

        @media screen and (max-width:800px){
            flex-wrap:wrap;   
        }

        .population-container{
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;
            width:75%;
            @media screen and (max-width:800px){
                width:100%;     
            }
        }

        .birth-container{
            width:22%;
                @media screen and (max-width:800px){
                    .birth-card-container-mobile{
                        // border:1px solid red;
                        display:flex;
                        justify-content:space-between;
                    }
                    width:100%;
                }

            .birth-card-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:30px;
                background-color:white;

                @media screen and (max-width:800px){
                    width:45%;
                }  

                .birth-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:20px;
                    display:flex;
                    justify-content:space-between;
                }

                .birth-num{
                    font-size:2.1rem;
                    display:flex;
                    text-align:center;
                    justify-content:center;
                    align-items:center;
                    padding:0 10px;

                    .mothers-num{
                       width:40%;
                        color:black;
                        text-align:right;
                        // border:1px solid red;
                    }

                    .birth-rate-label{
                        width:60%;
                        color:black;
                        text-align:left;
                        font-size:1vw;
                        margin-left:15px;
                        // border:1px solid red;
                        @media screen and (max-width:800px){
                            font-size:1rem;   
                        }
                    }
                }
                .birth-label{
                    color:grey;
                    font-size:1rem;
                    width:100%;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }
    .avg-temp-container{
        // border:1px solid red;
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    







// **** Styling prior to Kevin's
    .anchor-header {
        font-size: 1.3rem;
        text-align:left;
        text-decoration:none;
        margin:0;
        margin-left:20px;
        color:#00bfa5;
        margin-bottom:3px;
    }

    .nav-placeholder {
        padding:0;
        width: 20%;
        margin-left:3%;
        min-height:40vh;
        background: white;

        @media only screen and (max-width: 600px) {
            height: 100%;
            width: 30%;
            margin-top: 10px;
            position: relative;
            z-index: 5;
            width: 100%;
            margin-top: 82px;
            min-height:0px;
            display:none;
        }
    }

    .data-nav {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items: flex-start;
        color:#393B40;

        @media only screen and (max-width: 600px) {
            align-items: center;
            justify-content:space-between;
        }

        .subnav {
            display:flex;
            flex-direction:column;

            
        }

        .anchor-nav {
            display:flex;
            flex-direction:column;
            // border:1px solid green;
            
            a {
                text-decoration:none;
                color:#2e2f38;
                padding-left:25px !important;

                .selected {
                    color :white;
                    font-size:1.1rem;
                }
            }
        }



        .slider {
            width: 100%;
        }
        //Side Nav Styling setup for mobile

        //styling for menu slide out
        .slider.closed * {
            @media only screen and (max-width: 600px) {
            display:none
            }
            
        }

        .slider.open {
            @media only screen and (max-width: 600px) {
            display:none;
            
            }
        }

        .top-menu{
            width:100%;
            @media only screen and (max-width: 600px) {
                display:none;
            }
        }
        .search-bar{
            margin-top:-30px;
            background-image:url('../dashboard/assets/search.svg');
            background-position:6px 5.5px;
            background-repeat: no-repeat;
            padding:16px 33px;
            font-size:1.1rem;
            border-radius:5px;
            border:1px solid #b8bec4;
            &:focus{
                outline:none;
            }
            @media only screen and (max-width: 600px) {
                display:none;
            }
        }

        .search-bar.open{
            @media only screen and (max-width: 600px) {
                display:none;
            }
            transition: 1s;
        }

        .menu-items.closed{
            @media only screen and (max-width: 600px) {
                display:none;
            }
        }

        .menu-items.open{
            @media only screen and (max-width: 600px) {
                display:none;
            }
        }

        .search-bar.closed{
            @media only screen and (max-width: 600px) {
                display:none;
                }
                transition: transform 1s, margin 1s, padding 1s;
        }

        //Styling for burger stack

        .burger-menu.open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 4px);
            transform: rotate(-45deg) translate(-4px, 4px);
        }

        .burger-menu.open .bar2 {
            opacity: 0;
        }

        .burger-menu.open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }

        .burger-menu,
        .burger-menu.open {
            display:none; 
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        .burger-menu .bar1,
        .bar2,
        .bar3 {
            width: 25px;
            height: 3px;
            background-color:rgb(48, 48, 48);
            margin: 4px 0;
            transition: 0.5s;
        }

        li {
            list-style-type: none;
            margin: 5px 0;
            // font-weight:bold;
            display:flex;
            justify-content:space-between;
            width:100%;
            align-content:center;;
        }

        .color-legend-text {
            color:black;
        }

        .delete-icon {
            cursor:pointer;
        }

        ul {
            width:77.6%;
            padding-inline-start: 0px;
            margin: 0% auto;
        }

        form {
            margin: 0 auto;
            width:95%;
        }

        input {
            width:100%;
            margin: 0 auto;
            height: 2rem;
            font-size:1.3rem;
            padding:2%;
            margin-bottom:1rem;
        }

        .anchor-nav .anchor-link {
            color: grey;
            text-decoration:none;
            justify-content:flex-start;
            cursor:pointer;
            padding:5px 0;
        }

        .active {
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.08);
            font-size:1.1rem;
            // background-color:#f6fbff;
            // color:black !important; 
            // font-weight:500;
        }
        #nav-spacing{
            margin-bottom:30px;
        }
        #general{
            margin-top:5px;
            margin-bottom:20px;
        }

        

        .chartjs-render-monitor {
            width:80%;
            margin: 0 auto;
            
        }

        .data-nav-top {
            display:flex;
            flex-direction:column;
            padding-top:15px;
            height:100%;
            width:100%; 
             @media only screen and (max-width: 600px) {
                display:none;
              }
            }

        .autofill-container {
            position:absolute;
            width:19%;
            @media only screen and (max-width: 600px) {
                display:none;
            }
        }
        .autofill-container.abso-width {
            width:95%;
        }

        .autofill-option {
            list-style-type: none;
            margin: 0;
            padding:1% 3%;            
            background:white;
            color:black;         
            border: 1px solid grey;
            font-size: .9rem;
            cursor: pointer;
        }

        .delete-icon {
            height:1.2rem;
            width: 1.2rem;
            position:relative;
            bottom: .1rem;
        }
    }

    .sticky {
        position:fixed;
        top:100px;
        width: 20%;
    }

    .nav-bottom-anchor {
        height:100%;
        justify-content:flex-end;
        padding-bottom:130px;       
    }

    .data-by-category {
        width: 73%;
        margin-left:3%;
        

        @media only screen and (max-width: 600px) {
            // position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            z-index: 4;
            margin-left:0;
        }
        
        // @media only screen and (max-width: 600px) {
        //     width:100%;           
        // }


        h1{
            text-align:center;
        }    
    
        .charts {
            display: flex;
            flex-wrap:wrap;
            
            @media only screen and (max-width: 600px) {
                padding: 0 5px;               
                width: 100%;
            }   
        }
    }
}

.loader-animation{
    display:flex;
    justify-content:center;
    margin-bottom:-30px;
}

