/* I still haven't found a better way to set backgrounds en masse in react */

html {
    background: #041734;
}

/* this is the map container */
.sc-bdVaJa {
    margin: 0 auto;
    margin-top:68px;
    margin-bottom:20px;
    max-width:90%;
    border: 2px solid darkgrey;
}


/* this refers to the whole page (does not include navigation */

.map-page {
    background: #041734;
    .footer-container {
        margin-top:0;
        p {
            margin-top:125px;
        }
    }
}

/* The data-broswer is the component below the map */




.data-browser {
    background: #E5E5E5;
    display:flex;
    .data-nav {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        color:white;
        background:#041734;
        padding:0;
        width:25%;
        min-height:40vh;
        
        .burger-menu.open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 4px);
            transform: rotate(-45deg) translate(-4px, 4px);
          }
          .burger-menu.open .bar2 {
            opacity: 0;
          }
          .burger-menu.open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
          }
          .burger-menu,
        .burger-menu.open {
        display:none; 
        @media only screen and (max-width: 600px) {
          display: inline-block;
          cursor: pointer;
          z-index: 9999;
          background:#041734;
          
          padding: 10px;
        //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        .burger-menu .bar1,
        .bar2,
        .bar3 {
          width: 25px;
          height: 3px;
          background-color: white;
          margin: 4px 0;
          transition: 0.4s;
        }
        
    }
        }
        .burger-menu .bar1,
        .bar2,
        .bar3 {
          width: 25px;
          height: 3px;
          background-color: white;
          margin: 4px 0;
          transition: 0.5s;
        }
        // .search-bar.open{
        //     @media only screen and (max-width: 600px) {
        //         display: inline-block;
        //         }
        // }

        .search-bar.closed{
            @media only screen and (max-width: 600px) {
                display: none;
                }
        }



        .menu-items.closed{
            @media only screen and (max-width: 600px) {
            display: none;
            }
        }

        .menu-items.open{
            @media only screen and (max-width: 600px) {
            display: inline-block;
            }
        }

        li {
            list-style-type: none;
            margin: 2% 0;
            font-weight:bold;
            display:flex;
            justify-content:space-between;
            width:100%;
        }

        span {
            cursor:pointer;
        }

        ul {
            width:77.6%;
            padding-inline-start: 0px;
            margin: 0 auto;
        }

        form {
            margin: 5px auto;
            width:80%;
        }

        input {
            width:97%;
            margin: 0 auto;
            margin-top:2%;
            height: 2rem;
            font-size:1.3rem;
            padding:2%;
        }

        a {
            color:white;
            text-decoration:none;
            padding:10px 0px;
            margin: 10px 0px;
            text-align:left;
            width:100%;
        }

        .selected {
            color:#041734;
            background:white;
            font-size:1.1rem;
        }

        .chartjs-render-monitor {
            width:80%;
            margin: 0 auto;
        }

        .data-nav-top {
            display:flex;
            flex-direction:column;
            height:300px;
            width:100%; 
        }

        .autofill-container {
            position:absolute;
            width:19.4%;
        }

        .autofill-option {
            list-style-type: none;
            margin: 0;
            padding:1% 3%;            
            background:white;
            color:black;         
            border: 1px solid grey;
            font-size: .9rem;
        }

        .delete-icon {
            height:1.2rem;
            position:relative;
            bottom: .1rem;
        }
    }

    .data-by-category {
        
        width:75%;
        
        h1{
            text-align:center;
        }

        .chart {
            margin-bottom:10px;
        }

        .data-subnav {
            
            margin: 0 auto;
            margin-top: 15px;
            display: flex;
            width:80%;
            justify-content:center;
            align-items:center;
            
            a {
                padding:0px 20px;
                height: 3rem;
                padding-top:.3rem;
                margin: 0px 2px;
                background:white;
                text-decoration:none;
                font-weight:bold;
                color:#041734;
                &:first-child {
                    border-radius:25px 0px 0px 25px;
                }
    
                &:last-child {
                    border-radius:0px 25px 25px 0px;
                }
            }

            .selected {
                background: #36A6FC;
                color:white;                
            }
        }
    }
}

