

/* this is the map container */
.main-map {
    margin: 0 auto;
    margin-top:83px;
    border: 2px solid darkgrey;
    border:none;
    // max-width:1000px;
    width:100%;
    border-bottom:#ECF1F5;
}



/* this refers to the whole page (does not include navigation */

.map-page {
    background: white;
    background: #F2F9FD;
    .footer-container {
        margin-top:0;
    }
}

/* The data-broswer is the component below the map */




.data-browser {
    background: #F2F9FD;
    display:flex;
    // padding-top: 5%;

    .map-prompt {
        text-align:center;
    }


    .data-category {
        width:98%;
        margin: 10% 0;
        border-radius:5px;
    }
    .special-margins{
        // margin-top:7%;
    }

    .city-overview-container{
        width:98%;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        background-color:white;
        padding: 0 10px;
        
        .city-overview-border{
            // border-top-left-radius:5px;
            // border-top-right-radius:5px;
            // background-color:#9bd1f7;
            // background-color:#89CCF7;
            // background-color:#ff9f97;

            // background-color:#C2E9FC;
            // background-color:#FFE0A0;
            // background-color:#ffb9af;
            margin-bottom:0 !important;
            padding-left:2%;
            font-size:1.3rem;
            color:#00bfa5;
            width:100%;
            display:flex;
        }

        .city-info-container{
            margin-bottom:5%;
            padding:15px 7%;
            padding-top:0;
            display:flex;
            justify-content:space-between;
            img{
                height:20px;
                margin-right:15px;
            }

            .city-overview-container-one{
                width:45%;
                display:flex;
                align-items:center;
                // border:1px solid red;

                .overview-title-container-one{
                    width:60%;
                    display:flex;
                    flex-direction:column;

                    .overview-title{
                        margin:10px 0;
                        color:grey;
                        display:flex;
                        font-size:1.1rem;
                    }

                }
                .overview-stats-container-one{
                    width:45%;
                    font-size:1.1rem;
                    display:flex;
                    flex-direction:column;

                    .overview-stats{
                        width:100%;
                        margin:10px 0;
                    }
                }
            }
            .city-overview-container-two{
                width:40%;
                display:flex;
                .overview-title-container-two{
                    width:70%;
                    display:flex;
                    flex-direction:column;

                    .overview-title{
                        margin:10px 0;
                        color:grey;
                        display:flex;
                        font-size:1.1rem;
                    }
                }
                .overview-stats-container-two{
                    width:27%;
                    font-size:1.1rem;
                    display:flex;
                    flex-direction:column;
                    .overview-stats{
                        width:100%;
                        margin:10px 0;    
                    }
                }
            }
        }
    }



    .data-category-titles{
        text-align:center;
        // background-color:white;
        // padding:5px;
        // border-radius:5px;
        // box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        // border-bottom-left-radius:0;
        // border-bottom-right-radius:0;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        // background-color:#FFBD71;
        // background-color:#FFDCA2;
        // background-color:#ffdd94;
        // background-color:#2ca4fc;
        // border:1px solid red;
        
        
        
        // padding:5px;
        // border-top-left-radius:5px;
        // border-top-right-radius:5px;
        // box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        // background-color:#FFBC79;
        // background-color:#2CA2FA;

        .data-category-header{
            font-size:2rem;
            margin-top:5px;
            margin-bottom:0;
            color:#00bfa5;
            // color:white;
        }

        .data-category-subtitle{
            font-size:14px;
            width:80%;
            color:grey;
            margin-top:0;
            // color:white;
        }
    }

    .chart-title{
        color:#00bfa5;
        margin-top:10px;
        font-size:1.3rem;
        margin-left:2%;
    }

    .rent-container{
        width:100%;
        background-color:white;
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
    }
    
    .home-container{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:flex-start;
        width:100%;
        margin-bottom:30px;
        // border:1px solid grey;

        .ownerMortgage{
            // border:1px solid red;
            width:21%;
            padding:0;
        }
    }
        .homeprice-container{
            width:77%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            background-color:white;
        }
        .homeowner-container{
            // display:flex;
            // flex-wrap:wrap;
            // border:1px solid red;
            // padding:0;
            // border:1px solid blue;

            .mortgage{
                background-color:white;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                padding: 20px 5px;
                // border:1px solid green;
            }
            .home-title{
                background-color:white;
                padding:12px 10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:20px;
                text-align:center;
                margin-left:0;
                margin-top:0;
                // border:1px solid red;
            }
            .mortgage-price{
                font-size:1.15rem;
                color:#00bfa5;
                margin-left:5px;
            }
            .mortgage-label-container{
                // border:1px solid black;
                text-align:center;
                margin-top:5px;
            }
            .city-mortgage-title{
                color:#2e2f38;
                font-size:1.1rem;
                text-align:center;
                padding-bottom:5px;
                // border:1px solid orange;
            }
            .mortgage-label{
                color:grey;
                text-align:center;
            }
            .month-label{
                font-size:13px;
                color:darkgrey;
            }
        }
    
    

    .rooms-vacancy-container{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:flex-start;

        .room-container{
            background-color:white;
            width:60%;
            padding:10px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            border-radius:5px;
        }

        .vacancy-owner-container{
            background-color:white;
            border-radius:5px;
            width:38%;
            padding:10px;
            height:auto;     
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);       
        }
    }
    @media screen and (max-width:1000px){
        .rooms-vacancy-container{
            display:inline;

            .room-container{
                width:100%;
            }

            .vacancy-owner-container{
                width:100%;
            }
        }
    }








    // ** Industry styling
    .industries-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .salary-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .commute-travel-container{
        display:flex;
        justify-content:space-between;


        .commute-container{
            width:76%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;
        }
        .travel-container{
            width:22%;

            .commute-time-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                background-color:white;
                margin-bottom:20px;
                display:flex;
                flex-wrap:wrap;
                

                .commute-city-title{
                    color:#00bfa5;
                    font-size:1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    align-items:flex-end;
                    justify-content:space-between;
                }

                .commute-time-num{
                    font-size:1.9rem;
                    font-weight:400;
                    color:black;
                    text-align:center;
                    width:100%;
                    .commute-clock{
                        height:18px;
                        margin-right:10px;
                    }
                }
                #commute-label{
                    color:grey;
                    font-size:1rem;
                    width:100%;
                    margin-top:3px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }


    .other-industries-container{
        display:flex;
        align-items:flex-start;
        justify-content:space-between;


        .unemployment-container{
            width:22%;

            .unemployment-card-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                background-color:white;

                .unemployment-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    justify-content:space-between;
                }

                .unemployment-num{
                    font-size:2rem;
                    font-weight:400;
                    color:black;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    .archive{
                        width:20px;
                        margin-right:10px;
                    }
                }
                .unemployment-label{
                    color:grey;
                    font-size:14px;
                    width:100%;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }



        .retirement-container{
            width:52%;
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;

            
        }
        .insurance-container{
            width:22%;

            .healthinsurance-card-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:15px;
                background-color:white;

                .healthinsurance-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:25px;
                    display:flex;
                    justify-content:space-between;
                }

                .healthinsurance-num{
                    font-size:2rem;
                    font-weight:400;
                    color:black;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    .activity{
                        width:20px;
                        margin-right:6px;
                    }
                }
                .healthinsurance-label{
                    color:grey;
                    font-size:1.1vw;
                    width:100%;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }


    //** Culture styling
    .ethnicity-container{
        width:100%;
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .age-container{
        padding:10px;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .education-container{
        padding:10px;
        width:100%;
        border-radius:5px;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        margin-bottom:30px;
        background-color:white;
    }
    .population-birth-container{
        display:flex;
        align-items:flex-start;
        justify-content:space-between;

        .population-container{
            padding:10px;
            border-radius:5px;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            margin-bottom:30px;
            background-color:white;
            width:75%;
        }

        .birth-container{
            width:22%;

            .birth-card-container{
                padding:15px;
                padding-bottom:10px;
                border-radius:5px;
                box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
                margin-bottom:30px;
                background-color:white;

                .birth-title{
                    color:#00bfa5;
                    font-size:1.1rem;
                    width:100%;
                    margin-bottom:20px;
                    display:flex;
                    justify-content:space-between;
                }

                .birth-num{
                    font-size:2.1rem;
                    display:flex;
                    text-align:center;
                    justify-content:center;
                    align-items:center;
                    padding:0 10px;

                    .mothers-num{
                       width:40%;
                        color:black;
                        text-align:right;
                        // border:1px solid red;
                    }

                    .birth-rate-label{
                        width:60%;
                        color:black;
                        text-align:left;
                        font-size:1vw;
                        margin-left:15px;
                        // border:1px solid red;
                    }
                }
                .birth-label{
                    color:grey;
                    font-size:1rem;
                    width:100%;
                    margin-top:10px;
                    text-align:center;
                    margin-bottom:5px;
                }
            }
        }
    }
    







// **** Styling prior to Kevin's
    .anchor-header {
        font-size: 1.3rem;
        // font-weight:500;
        text-align:left;
        text-decoration:none;
        // border:1px solid red;
        margin:0;
        margin-left:20px;
        color:#00bfa5;
        margin-bottom:3px;
    }

    .nav-placeholder {
        padding:0;
        width: 20%;
        margin-left:3%;
        min-height:40vh;
        background: white;

        @media only screen and (max-width: 600px) {
            height: 100%;
            width: 30%;
            margin-top: 10px;
            position: relative;
            z-index: 5;
            width: 100%;
            margin-top: 82px;
            min-height:0px;
        }
    }

    .data-nav {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items: flex-start;
        color:#393B40;

        @media only screen and (max-width: 600px) {
            align-items: center;
            justify-content:space-between;
        }

        .subnav {
            display:flex;
            flex-direction:column;

            
        }

        .anchor-nav {
            display:flex;
            flex-direction:column;
            // border:1px solid green;
            
            a {
                text-decoration:none;
                color:#2e2f38;
                padding-left:25px !important;

                .selected {
                    color :white;
                    font-size:1.1rem;
                }
            }
        }



        .slider {
            width: 100%;
        }
        //Side Nav Styling setup for mobile

        //styling for menu slide out
        .slider.closed * {
            @media only screen and (max-width: 600px) {
            display:flex;
            flex-direction: column;
            background:#041734;
            width: 100%;
            padding: 0;
            margin: 0;
            -webkit-transform: translateX(-610px) translate(-6px, -6px);
            transform: translateX(-610px) translate(-6px, -6px);
            transition: 1s;
            }
            
        }

        .slider.open {
            @media only screen and (max-width: 600px) {
            display:flex;
            flex-direction: column;
            background:#041734;
            width: 100%;
            transition: 1s;
            }
        }

        .top-menu{
            width:100%;
            @media only screen and (max-width: 600px) {
                display:flex;
            }
        }
        .search-bar{
            background-image:url('../dashboard/assets/search.svg');
            background-position:6px 5.5px;
            background-repeat: no-repeat;
            padding:16px 33px;
            font-size:1.1rem;
            border-radius:5px;
            border:1px solid #b8bec4;
            &:focus{
                outline:none;
            }
        }

        .search-bar.open{
            transition: 1s;
        }

        .menu-items.closed{
            @media only screen and (max-width: 600px) {
                -webkit-transform: translateX(-610px) translate(-6px, -6px);
                transform: translateX(-610px) translate(-6px, -6px); 
                padding: 0;
                margin: 0; 
                transition: transform 1s, margin 1s, padding 1s;
            }
        }

        .menu-items.open{
            @media only screen and (max-width: 600px) {
            }
        }

        .search-bar.closed{
            @media only screen and (max-width: 600px) {
                -webkit-transform: translateX(-610px) translate(-6px, -6px);
                transform: translateX(-610px) translate(-6px, -6px);
                padding: 0;
                margin: 0;
                }
                transition: transform 1s, margin 1s, padding 1s;
        }

        //Styling for burger stack

        .burger-menu.open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 4px);
            transform: rotate(-45deg) translate(-4px, 4px);
        }

        .burger-menu.open .bar2 {
            opacity: 0;
        }

        .burger-menu.open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }

        .burger-menu,
        .burger-menu.open {
            display:none; 
            @media only screen and (max-width: 600px) {
                display: inline-block;
                cursor: pointer;
                z-index: 9999;
                padding: 10px;
            }
        }

        .burger-menu .bar1,
        .bar2,
        .bar3 {
            width: 25px;
            height: 3px;
            background-color:rgb(48, 48, 48);
            margin: 4px 0;
            transition: 0.5s;
        }

        li {
            list-style-type: none;
            margin: 5px 0;
            // font-weight:bold;
            display:flex;
            justify-content:space-between;
            width:100%;
            align-content:center;;
        }

        .color-legend-text {
            color:black;
        }

        .delete-icon {
            cursor:pointer;
        }

        ul {
            width:77.6%;
            padding-inline-start: 0px;
            margin: 10% auto;
        }

        form {
            margin: 0 auto;
            width:95%;
        }

        input {
            width:100%;
            margin: 0 auto;
            height: 2rem;
            font-size:1.3rem;
            padding:2%;
            margin-bottom:1rem;
        }

        .anchor-nav .anchor-link {
            color: grey;
            text-decoration:none;
            justify-content:flex-start;
            cursor:pointer;
            padding:5px 0;
        }

        .active {
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.08);
            font-size:1.1rem;
            // background-color:#f6fbff;
            // color:black !important; 
            // font-weight:500;
        }
        #nav-spacing{
            margin-bottom:30px;
        }
        #general{
            margin-top:5px;
            margin-bottom:20px;
        }

        

        .chartjs-render-monitor {
            width:80%;
            margin: 0 auto;
            
        }

        .data-nav-top {
            display:flex;
            flex-direction:column;
            height:100%;
            width:100%; 
            
        }

        .autofill-container {
            position:absolute;
            width:19%;
            @media only screen and (max-width: 600px) {
                width:95%;
            }
        }

        .autofill-option {
            list-style-type: none;
            margin: 0;
            padding:1% 3%;            
            background:white;
            color:black;         
            border: 1px solid grey;
            font-size: .9rem;
            cursor: pointer;
        }

        .delete-icon {
            height:1.2rem;
            width: 1.2rem;
            position:relative;
            bottom: .1rem;
        }
    }

    .sticky {
        position:fixed;
        top:78px;
        width: 20%;
    }

    .nav-bottom-anchor {
        height:100%;
        justify-content:flex-end;
        padding-bottom:130px;       
    }

    .data-by-category {
        width: 73%;
        margin-left:3%;
        

        @media only screen and (max-width: 600px) {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            z-index: 4;
        }
        
        @media only screen and (max-width: 600px) {
            width:100%;           
        }


        h1{
            text-align:center;
        }    
    
        .charts {
            display: flex;
            flex-wrap:wrap;
            
            @media only screen and (max-width: 600px) {
                padding: 0 5px;               
                width: 100%;
            }   
        }
    }
}