/* this is the map container */
.map {
  margin-top: 100px;
}

.main-map {
  margin: 0 auto;
  border: 2px solid darkgrey;
  border: none;
  width: 100%;
  border-bottom: #ecf1f5;
}

/* this refers to the whole page (does not include navigation */

.comparison-page-container {
  background: #e9e8e9;
  .footer-container {
    width: 100%;
  }
}

/* The data-browser is the area below the map */

.comparison-page-content-container {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 7rem auto;

  // This is the text that appears when no cities are selected.
  .map-prompt {
    text-align: center;
    font-size: 1.3rem;
    color: #a33a00;
    margin-bottom: 125px;
  }

  .data-category {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(12, 1fr); 
    grid-auto-rows: auto;
  }

  .special-margins {
    margin-bottom: 3%;
  }

  .city-overview-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.4rem;

    .city-overview-card {
      height: 100%;
      .recommendation-grid {
        background-color: white;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        height: 100%;

        .recommendation-container {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        //other recommendation-container class on onlychild is interfering
        // .recommendation-container {
        //   width: 100%;
        //   display: grid;
        //   grid-template-columns: auto auto;
        //   grid-template-rows: auto auto;
        // }
        .recommendation-title {
          display: flex;
          align-items: center;
          color: grey;
          font-size: 14px;
          margin: 0 auto;
          border: 1px solid #ecf1f5;
          width: 50%;
          justify-content: center;
          text-align: center;
          padding: 10px;
        }
        .recommendation {
          cursor: pointer;
          border: 1px solid #ecf1f5;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 50%;
          padding: 10px;

          .recommendation-subtitle {
            color: grey;
            width: 100%;
            font-size: 14px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: 0;
          }

          img {
            height: 17px;
            margin-right: 5px;
          }
          .recommendation-cities {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
          }
          &:hover {
            background-color: #f6f9fc;
            border: 1px solid #e9e8e9;
          }
        }
      }
      &:only-child {
        max-width: none;
        .recommendation-grid {
          background-color: white;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          width: 100%;

          .recommendation-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
          }
          .recommendation-title {
            display: flex;
            align-items: center;
            color: grey;
            font-size: 14px;
            margin: 0 auto;
            border: 1px solid #ecf1f5;
            width: 50%;
            justify-content: center;
            text-align: center;
            padding: 10px;
          }
          .recommendation {
            cursor: pointer;
            border: 1px solid #ecf1f5;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 10px;

            .recommendation-subtitle {
              color: grey;
              width: 100%;
              font-size: 14px;
              text-align: center;
              margin-bottom: 3px;
              margin-top: 0;
            }

            img {
              height: 17px;
              margin-right: 5px;
            }
            .recommendation-cities {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
            }
            &:hover {
              background-color: #f6f9fc;
              border: 1px solid #e9e8e9;
            }
          }
        }
        @media screen and (min-width: 800px) {
          .city-info-container {
            padding: 15px 7%;
            padding-top: 0;
            flex-direction: row;
            .city-overview-container-one {
              width: 45%;
            }
            .city-overview-container-two {
              width: 40%;
              display: flex;
              .overview-title-container-two {
                width: 70%;
                flex-direction: column;
              }
              .overview-stats-container-two {
                width: 27%;
              }
            }
          }
          .recommendation-grid {
            width: none;
            .recommendation-container {
              flex-wrap: nowrap;
            }
            .recommendation-title {
              width: 31%;
              justify-content: center;
              text-align: left;
              padding: 5px 10px;
            }
            .recommendation {
              width: 23%;
              padding: 10px 5px;
              img {
                height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .city-overview-container {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    margin-bottom: 0;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    .city-overview-border {
      margin-bottom: 0 !important;
      padding-left: 2%;
      font-size: 1.3rem;
      width: 100%;
      display: flex;
    }
    .city-overview-content {
      display: flex;
      flex-direction: column;
      padding: 15px 3%;
      margin-bottom: 0;
      justify-content: space-between;
      img {
        height: 20px;
        margin-right: 15px;
      }
      .city-overview-container-one {
        display: flex;
        width: 100%;
        align-items: center;
        .overview-title-container-one {
          width: 60%;
          display: flex;
          flex-direction: column;
          .overview-title {
            margin: 10px 0;
            color: grey;
            display: flex;
            font-size: 1.1rem;
            cursor: pointer;
            &:hover{
              color: #0066CC;
            }
          }
        }
        .overview-stats-container-one {
          width: 40%;
          font-size: 1.1rem;
          display: flex;
          flex-direction: column;
          .overview-stats {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
      .city-overview-container-two {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .overview-title-container-two {
          width: 60%;
          display: flex;
          flex-direction: column;
          .overview-title {
            margin: 10px 0;
            color: grey;
            display: flex;
            font-size: 1.1rem;
            cursor: pointer;
            &:hover{
              color: #0066CC;
            }
          }
        }
        .overview-stats-container-two {
          width: 40%;
          font-size: 1.1rem;
          display: flex;
          flex-direction: column;
          .overview-stats {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .chart-title {
    margin-top: 10px;
    font-size: 1.4rem;
    margin-left: 1.4rem;
    margin-top: 1.4rem;
  }

  .rent-container {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
  }

  .home-container {
    width: 100%;

    .ownerMortgage {
      width: 20%;
    }
  }
  .homeprice-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }

  .smoc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 13px;
  }
  .home-title {
    display: none;
  }
  .mortgage-price {
    font-size: 1.15rem;
    color: #444444;
    margin-left: 3px;
  }
  .mortgage-label-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .city-mortgage-title {
    color: #2e2f38;
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
    color: grey;
  }
  .mortgage-label {
    color: grey;
    font-size: 1rem;
  }
  .month-label {
    font-size: 13px;
    color: darkgrey;
  }

  @media screen and (max-width: 1000px) {
    .home-container {
      .homeprice-container {
        width: 100%;
        margin-bottom: 20px;
      }
      .ownerMortgage {
        width: 100%;

        .homeowner-container {
          display: flex;
          justify-content: space-evenly;

          .mortgage {
            width: 30%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .home-container {
      .ownerMortgage {
        .homeowner-container {
          justify-content: space-between;

          .mortgage {
            width: 100%;
            .mortgage-label-container {
              flex-wrap: wrap;

              .mortgage-label {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .room-container {
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    border-radius: 5px;
  }

  .vacancy-owner-container {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
  }

  // ** Industry styling
  .industries-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }
  .salary-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }

  .commute-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }

  .commute-time-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;

    .commute-city-title {
      font-size: 1rem;
      width: 100%;
      margin-bottom: 25px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .commute-time-num {
      font-size: 1.9rem;
      font-weight: 400;
      color: black;
      text-align: center;
      width: 100%;
      .commute-clock {
        height: 18px;
        margin-right: 10px;
      }
    }
    #commute-label {
      color: grey;
      font-size: 1rem;
      width: 100%;
      margin-top: 3px;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .travel-scores-container {
    .travel-scores-container-two {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
      margin-bottom: 30px;
      background-color: white;
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
      }

      .scores-title {
        margin-bottom: 0;
      }
      .scores {
        margin-left: 0;
        margin-bottom: 0;
      }
      .score-subtitle {
        margin-top: 0;
        color: grey;
        font-size: 0.9rem;
        margin-bottom: 0;
      }
      .score-city {
        text-align: center;
        color: grey;
        margin-top: 0;
      }
      .score-num {
        display: flex;
        justify-content: center;
        align-items: center;

        .score {
          font-size: 2.5rem;
          display: flex;
          align-items: center;
          margin: 20px auto;
        }
        img {
          height: 30px;
          margin-right: 8px;
        }
        .bus {
          height: 26px;
        }
        .bike {
          height: 33px;
        }
      }
    }
    .transportation-score-container {
      @media screen and (max-width: 800px) {
        width: 40%;
        text-align: center;
      }
    }

    .score-breakdown-container {
      width: 25%;

      @media screen and (max-width: 800px) {
        width: 70%;
        text-align: center;
        margin-bottom: 20px;
      }
      .score-metric {
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;

        .score-rate-nums {
          width: 45%;
          text-align: center;

          p {
            margin-bottom: 0;
            color: grey;
            margin-top: 7px;
          }
        }
        .score-rate-titles {
          width: 50%;
          p {
            margin-bottom: 0;
            margin-top: 7px;
            color: grey;
          }
          .one {
            color: #02bfa5;
          }
          .two {
            color: #c3a6ff;
          }
          .three {
            color: #2ca4fc;
          }
          .four {
            color: #fdb461;
          }
          .five {
            color: #fb8072;
          }
        }
      }
    }
  }

  .unemployment-container {
    width: auto;
    .unemployment-title {
      font-size: 1.2rem;
      width: 100%;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        font-size: 1rem;
      }
    }

    .unemployment-num {
      font-size: 2rem;
      font-weight: 400;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      .archive {
        width: 20px;
        margin-right: 10px;
      }
    }
    .unemployment-label {
      color: grey;
      font-size: 12px;
      width: 100%;
      margin-top: 10px;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .retirement-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }

  //** Culture styling
  .ethnicity-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }
  .age-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }
  .education-container {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
  }

  .population-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    width: 100%;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .birth-container {
    width: 22%;
    @media screen and (max-width: 800px) {
      .birth-card-container-mobile {
        display: flex;
        justify-content: space-between;
      }
      width: 100%;
    }

    .birth-card-container {
      padding: 15px;
      padding-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.09);
      margin-bottom: 30px;
      background-color: white;

      @media screen and (max-width: 800px) {
        width: 45%;
      }

      .birth-title {
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      }

      .birth-num {
        font-size: 2.1rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        .mothers-num {
          width: 40%;
          color: black;
          text-align: right;
        }

        .birth-rate-label {
          width: 60%;
          color: black;
          text-align: left;
          font-size: 1vw;
          margin-left: 15px;
          @media screen and (max-width: 800px) {
            font-size: 1rem;
          }
        }
      }
      .birth-label {
        color: grey;
        font-size: 1rem;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }

  .avg-temp-container {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: white;
  }

  .anchor-header1 {
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    color: #a33a00;
    margin: 6% 20px 5% 20px;
    display: flex;
    justify-content: space-between;
  }

  .anchor-header2 {
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    color: #a33a00;
    margin: 6% 20px 5% 20px;
    display: flex;
    justify-content: space-between;
  }

  .anchor-header3 {
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    color: #a33a00;
    margin: 6% 20px 5% 20px;
    display: flex;
    justify-content: space-between;
  }

  .search-bar {
    background-image: url("../index/assets/search.svg");
    background-position: 10px 16px;
    background-repeat: no-repeat;
    padding: 16px 33px;
    padding-left: 4.75%;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 0;
    width: 100%;
    outline: none;
    @media only screen and (max-width: 900px) {
      padding-left: 6%;
    }
    @media only screen and (max-width: 675px) {
      padding-left: 7%;
    }
    @media only screen and (max-width: 600px) {
      padding-left: 8%;
    }
    @media only screen and (max-width: 500px) {
      padding-left: 9%;
    }
    @media only screen and (max-width: 414px) {
      padding-left: 10%;
    }
    @media only screen and (max-width: 375px) {
      padding-left: 11%;
    }
  }

  .search-bar.active {
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  }

  .search-form {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .autofill-container {
    background-color: white;
    padding: 0 1.5%;
    z-index: 5;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: relative;
    padding-bottom: 0.01rem;
  }

  .autofill-container.abso-width {
    width: 28.4rem;

    @media only screen and (max-width: 600px) {
      width: 84.8%;
    }
    @media only screen and (max-width: 450px) {
      width: 84.5%;
    }
  }

  .autofill-option {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 1% 3%;
    background: white;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    @media only screen and (max-width: 1080px) {
      margin: 1% 0;
    }
    @media only screen and (max-width: 900px) {
      margin: 1.5% 0;
    }
    @media only screen and (max-width: 700px) {
      margin: 2% 0;
    }
    @media only screen and (max-width: 550px) {
      margin: 5% 0;
    }
    @media only screen and (max-width: 450px) {
      margin: 7% 0;
    }
  }

  .border-line {
    margin: auto;
    width: 100%;
    border: 1px solid lightgrey;
  }

  .nav-bottom-anchor {
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 130px;
  }

  .data-by-category {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.4rem;
    width: 100%;
    margin: auto;
    margin-top: 4.2rem;
    margin-bottom: 75px;

    @media only screen and (max-width: 600px) {
      
    }

    h1 {
      text-align: center;
    }

    .charts {
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 600px) {
        padding: 0 5px;
        width: 100%;
      }
    }
  }
}

.loader-animation {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
