.profile-body {
   background-color: #F2F9FD;
}

.profile-page {
    display: flex;
    background-color:#F2F9FD;

    .profile-slides{
        margin: 0 auto;
        width: 100%;
    }

    .recommendation-grid {
       display: none;
    }    
    
    .update-favorites{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        button{
            border: none;
            margin: 10px auto;
            width: 130px;
            border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 5px;
            background-color: #2ca4fc;
            color: white;
            max-width: 400px;
            transition: 0.22s ease;
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.07);
            cursor:pointer;
                 &:focus{
                   outline:0;
                 }
                 &:hover{
                   filter: brightness(115%);
                 }
    cursor: pointer;
                }
        
        h1 {
            font-size: 32px;
            margin-bottom: 32px;
            font-weight: 400;
            color: #00bfa5;
            text-align: center;
        }

        .favorites-header-hidden {
            display: none
        }


        h2{
            font-size: 32px;
            margin-bottom: 32px;
            text-align: center;
            font-weight: 400;
            color: #32373D;
        }

        .city-overview-container{
            width:70%;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
            background-color:white;
            padding: 0 10px;
            margin: 30px auto;
            
            @media screen and (max-width:800px){
                width:100%;
            }
            

            .city-overview-border{
                // border-top-left-radius:5px;
                // border-top-right-radius:5px;
                // background-color:#9bd1f7;
                // background-color:#89CCF7;
                // background-color:#ff9f97;

                // background-color:#C2E9FC;
                // background-color:#FFE0A0;
                // background-color:#ffb9af;
                margin-bottom:0 !important;
                padding-left:2%;
                font-size:1.3rem;
                color:#00bfa5;
                width:100%;
                display:flex;
            }

            .city-info-container{
                margin-bottom:0;
                padding:15px 7%;
                padding-top:0;
                display:flex;
                justify-content:space-between;
                img{
                    height:20px;
                    margin-right:15px;
                }
                @media screen and (max-width:800px){
                    flex-wrap:wrap;
                    padding:15px 3%;
                    margin-bottom:0;
                }

                .city-overview-container-one{
                    width:45%;
                    display:flex;
                    align-items:center;
                    // border:1px solid red;
                    @media screen and (max-width:800px){
                        width:100%;
                    }

                    .overview-title-container-one{
                        width:60%;
                        display:flex;
                        flex-direction:column;

                        .overview-title{
                            margin:10px 0;
                            color:grey;
                            display:flex;
                            font-size:1.1rem;
                        }

                    }
                    .overview-stats-container-one{
                        width:45%;
                        font-size:1.1rem;
                        display:flex;
                        flex-direction:column;

                        .overview-stats{
                            width:100%;
                            margin:10px 0;
                        }
                    }
                }
                .city-overview-container-two{
                    width:40%;
                    display:flex;
                    @media screen and (max-width:800px){
                        width:100%;
                        justify-content:space-between;
                    }

                    .overview-title-container-two{
                        width:70%;
                        display:flex;
                        flex-direction:column;

                        .overview-title{
                            margin:10px 0;
                            color:grey;
                            display:flex;
                            font-size:1.1rem;
                        }
                        @media screen and (max-width:800px){
                            width:60%;        
                        }

                    }
                    .overview-stats-container-two{
                        width:27%;
                        font-size:1.1rem;
                        display:flex;
                        flex-direction:column;
                        .overview-stats{
                            width:100%;
                            margin:10px 0;    
                        }
                        @media screen and (max-width:800px){
                            width:40%;           
                        }
                    }
                }
            }
        }
    }
}

// .slider {
//     width: 100%;
// }
// //Side Nav Styling setup for mobile

// //styling for menu slide out
// .slider.closed * {
//     @media only screen and (max-width: 900px) {
//         -webkit-transform: translate(-100px, 0);
//         transform: translate(-100px, 0);
//         transition: .5s;
//         width: 10px;
//         height: 5px;
        
//     }
    
// }











.profile-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;    
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
    

    @media screen and (max-width:1400px){
        width:80%;
    }
    @media screen and (max-width:900px){
        width: 100%;
    }

    .edit-profile-closed {
        display: none;
    }

    .profile-contents {
        line-height: 126%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    
    .avatar-tab {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        width: 45%;
        height:40vh;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        background-color: white;

        @media screen and (max-width:1400px){
           padding: 15px;
        }

        @media screen and (max-width:900px){
            padding: 10px;
        }

        button {
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        }

        h2 {
            font-size: 1.3rem;
            font-weight: 400; 
            line-height: 20%;
        }
        .username {
            margin-bottom: 15px;
        }


        img {
            width: 150px;
            height:150px;
            border-radius: 100%;
            box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);

            @media screen and (max-width:900px){
                width: 130px;
                height:130px;
            }
           }
           
    }

    .info {
        height:40vh;
        background-color: white;
        box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.09);
        width: 45%;
        text-align: center;
        padding: 15px;
        display:flex;
        flex-direction: column;
        padding-top:0px;
        justify-content: space-around;
        
        button {
            margin: 0 auto;
        }

        
    }

    h1{
        font-size: 32px;
        margin: 10px auto;
        margin-bottom:20px;
        font-weight: 500;
        color: #00bfa5;
    }

    

    .name-tab, .email-tab, .city-tab, .avatar-tab {
        display:flex;
        flex-direction: column;
        padding-top:0;
        input {
            height: 20%;
            width: 200px;
            margin-right: 16px;
            background-color: #F7F9F9;
            border: 1px solid #B8BABF;
            border-radius: 10px;
            height: 30px;
            font-size: 16px;
            color: #84868C;
            padding: 14px;

            @media screen and (max-width:1400px){
                width:200px;
                font-size: 1rem;
                padding: 5px;
                height: 30px;
            }
            @media screen and (max-width:900px){
                width: 170px;
                margin-right: 5px;
            }
            
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #00bfa5;
            text-align:center;
            @media screen and (max-width:900px){
                margin-bottom: 5px;
                font-size: 1rem;
            }
        }

        .image-input{
            padding: 5px;
            width: 80%;
        }

        button{
            border: none;
            margin-top: 10px;
            width: 130px;
            border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 5px;
            background-color: #2ca4fc;
            color: white;
            max-width: 400px;
            transition: 0.22s ease;
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.07);
            cursor:pointer;
                 &:focus{
                   outline:0;
                 }
                 &:hover{
                   filter: brightness(115%);
                 }
    cursor: pointer;
    @media screen and (max-width:900px){
        width: 120px;
        font-size: 1rem;
    }
        }
        h2 {
            color:#5E6066;
            margin: 0;
            @media screen and (max-width:900px){
                margin-bottom: 5px;
                margin-top: 1px;
            }
        }

    }
    .name-tab {

        h2 {
            font-size: 24px;
            font-weight: 400;
            @media screen and (max-width:900px){
                font-size: 1.2rem
            }
        }

        input {
            width: 150px;
            @media screen and (max-width:1400px){
                width:100px;
            }
            @media screen and (max-width:900px){
                width: 80px;
            }
        }
    }

    .email-tab {
        
        h2 {
            font-size: 20px;
            font-weight: 400;
            @media screen and (max-width:900px){
                font-size: 1.2rem
            }
        }
    }

    .city-tab {

        h2 {
            font-size: 20px;
            font-weight: 400;
            @media screen and (max-width:900px){
                font-size: 1.2rem
            }
        }
        
        .edit-state {
            width: 64px;
            padding: 12px;
        }
              
    }

    .edit-location-btn.open {
        margin-top:10%;
    }

    .edit-name.closed, .save-name-btn.closed,.edit-name-btn.open,   .edit-email.closed,.save-email-btn.closed,  .edit-email-btn.open,     .edit-location.open,.save-location-btn.open,    .edit-location-btn.closed, .user-name.open, .user-email.open,     .user-location.closed, .edit-image.closed, .save-image-btn.closed, .edit-image-btn.open {
        display: none;
    }

}
