h1 {
    margin-top: 84px;
}

.profile-page {
    display: flex;
}

.side-nav {
    display: flex;
    margin-top: 20%;
    
    .profile-tabs {
        
        .nav-items{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto;
                a{
                    
                }
            }
    }
    
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    

    .profile-contents {
        line-height: 126%;
        padding-left: 127px;
        border-left: 1px solid #B8BABF;
        padding-bottom: 100px;
        
    }

    h1{
        font-size: 32px;
        margin-bottom: 32px;
        text-align: left;
        padding-left: 127px;
        font-weight: 500;
        color: #32373D;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        font-size: 16px;
        font-weight: 100;
        color: #84868C;
    }

    .name-tab, .email-tab, .city-tab {
        margin-bottom: 76px;

        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .name-tab {
        h2 {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .email-tab {
        
        h2 {
            font-size: 20px;
            font-weight: 600;

        }
    }

    .city-tab {

        h2 {
            font-size: 20px;
            font-weight: 600;
        }

        span{
            font-size: 16px;
            color: #84868C;
            font-weight: 100;
        }
    }

    .edit-name.closed, .save-name-btn.closed,.edit-name-btn.open,   .edit-email.closed,.save-email-btn.closed,  .edit-email-btn.open,     .edit-location.open,.save-location-btn.open,    .edit-location-btn.closed, .user-name.open, .user-email.open,     .user-location.closed {
        display: none;
    }
}

.pref-container {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    
    h1{
        font-size: 32px;
        margin-bottom: 32px;
        text-align: left;
        padding-left: 127px;
        font-weight: 400;
        color: #32373D;
    }

    .pref-contents {
        line-height: 126%;
        padding-left: 127px;
        border-left: 1px solid #B8BABF;
        padding-bottom: 100px;

        .head-top {
            width: 363px;
            margin-bottom: 36px;
            color: #32373D
        }

        .head-middle {
            width: 436px;
            font-weight: 450;
            color: #393B40;
        }

        .head-bottom {
            width: 336px;
            font-size: 14px;
            color:#84868C;
            span {
                font-weight:450;
                color:#84868C;
            }

        }
    }

    .pref-tabs{


        .pref-tabs-img{
            width: 30.56px;
            height: 24px;
        }

        .social-tab{
            img {
                width: 24px;
                height: 24px;
            }
        }

        .housing-tab, .econ-tab, .social-tab{
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            margin: 15px 0;
            align-items: center;
            border-radius: 3px;
            width: 197px;
            height: 40px;
            padding: 12px;
            box-shadow: 0px 0px 10px 0px rgba(197, 197, 197, 0.527);
            margin-right: 28px;
        }



        p {
            font-size: 18px;
        }

        .housing-tab.open, .econ-tab.open, .social-tab.open {
            border: 3px solid #4AC9AA;
        }

        .social-tab-check, .housing-tab-check, .econ-tab-check {
            width: 31.34px;
            height: 24px;
        }
        .housing-tab-check.closed, .social-tab-check.closed, .econ-tab-check.closed {
            display: none;
        }
        .tab {
            display: flex;
            align-items: center;
        }
    }
}