// body {
//     overflow-y: hidden;
// }

.aboutUsHero {
    background-image: url("/MtT_Hero Image.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;

    .aboutUsContainer {
        max-width: 1200px;
        width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
    
        .aboutUsH1Div {
            position: sticky;
            top: 145px;
            max-width: 1200px;

            .aboutUsH1 {
                font-weight: 500;
                font-size: 96px;
                line-height: 100%;
                color: white;
                height: 192px;
                width: 491px;
                text-align: left;
            }
        }
    }
}



section {
    display: flex;
    justify-content: center;

    .sectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;

        .aboutUsH2Div {
            max-width: 1200px;
            padding-left: 20px;

            .aboutUsH2 {
                font-weight: 500;
                font-size: 36px;
                line-height: 100%;
            }

        }

        .cardContainer {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            max-width: 1200px;
            width:100%;
            margin: 0 auto;
        
            .card {
                padding: 0 20px;
                height: auto;
        
                .aboutUsImg {
                    width: 256px;
                    height: 256px;
                
                }

                .aboutP {
                    font-size: smaller;
                    width: 200px;
                    height: auto;
                }

                .memberRole {
                    
                }
            }
        }
    }
}







    









    


