
//setting margin of the container for this page until nav is fixed
.aboutUs{
    margin-top: 10%;

}

//headers

.aboutus-title{
    font-size: 3.2rem;
}
h3{
    text-align: center;
    font-size: 2rem;
}


//all sections
.leadership-design, .web, .ds{
    margin-bottom: 5%;
}
 .ds, .web{
    width: 100%;
    display:flex; 
    justify-content: space-around;
    text-align: center;

    .member{
        width: 20%;
    }
}

// container for leadership-design
.leadership-design{
    display:flex; 
    width:100%;
    justify-content: space-around; 
    margin:auto;
    height: 590px;
    background: url(/static/media/seconddiv.61436097.svg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    
    .member{
        width:70%; 
        margin: auto;
        text-align: center;
    
    }
}
//data scientists
.ds-container{
   padding: 5%; 
}

//web developers
.web{
    background: #f2f9fd;
    flex-wrap: wrap;
    
    .member{
        margin: 3%;
    }

}


img{
    width:100%;
}