
//all

.tl, .design, .ds, .web{
    width: 100%;
    display:flex; 
    justify-content: space-around;

    .member{
        width: 20%;
    }
}
//data scientists
.ds{
   
}

//web developers
.web{
    
    flex-wrap: wrap;
    
    .member{
        margin: 3%;
    }

}


img{
    width:100%;
}