.aboutUs{
    display:flex; 
    align-items: center;
    justify-content: center;
    padding: 1%;

    @media screen and (min-width: 200px) {
        .aboutus-title{
            font-size: .9rem;
            margin: .5%;
        }

        .left-arrow {
            border-width: 10px 10px 10px 0px;
        }
        .right-arrow{
            border-width: 10px 0px 10px 10px; 
        }
    }
}


.aboutus-title{
    text-align:center;
    font-size: 1.8rem;

    
}

.member-info{
    border-left: 1px solid #3999fc;
    align-items: center;
    align-content: center;
    width:50%;
    padding: 0 4%;
}

.member-name{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    
}

.member-role{
    font-size: 1.9rem;
    margin: 5% 0;
    font-weight: 100;
}

.member-portfolio{
    text-align: center;
    border: 1px solid #3999fc; 
    color: #3999fc; 
    cursor: pointer;
    border-radius: 10px; 
    padding: 2.5% 1%; 
    animation:comeFromBottom 1s ease-out .8s;
    

    &:hover{
        color: white; 
        background: #3999fc; 
        box-shadow:0px 10px 10px rgba(0,0,0,0.2);
        transform : translateY(-3px);
    }

    &:active{
        box-shadow:0px 5px 10px rgba(0,0,0,0.2);
        transform:translateY(-1px);
    }

    &::after{
        transition: all .5s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}
.member-display{
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (min-width: 200px){
        display: flex;
        flex-direction: column;

        .member-photo{
            width:70%;
        }

        .member-info{
            width:100%;
            border-left: none;
            .name-role{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .member-role{
                font-size: .8rem; 
                margin:1%;
                border-left: 1px solid #3999fc;
                padding-left: 1.5%;
            }
            .member-name{
                font-size: .8rem;
            }

            .member-social{
                width: 48%;
                margin: auto;

                svg{
                    width: 0.575em;
                }
            }

            .member-about{
                font-size: .8rem;
                margin: 2%;
            }

            .member-portfolio{
                border-radius: 5px;
                font-size: .7rem;
                padding: 1.5% 1%;
            }
        }
    }
}

.member-photo{
    width: 40%;
    padding: 2.5%;
    img{
        width: 100%; 
        border-radius:10px;
    }

}

.member-social{
    display: flex;
    justify-content: space-between;
    width: 20%;

}

.member-social svg{
    cursor:pointer;
}

//arrows

.left-arrow {
	border-color: transparent #3999fc;
	border-style: solid;
	border-width: 20px 20px 20px 0px;
	height: 0px;
    width: 0px;
    cursor:pointer;
    
}

.right-arrow {
	border-color: transparent #3999fc;
	border-style: solid;
	border-width: 20px 0px 20px 20px;
	height: 0px;
    width: 0px;
    cursor:pointer;
    
}

@media screen and (min-width: 200px){
    .modal{
        padding:.5rem;
    }
    .modal-overlay{
        width:98vw;
    }
    .modal-wrapper{
        height:90%;; 
        .modal{
            max-width: 90vw
        }
    }
}

