.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 10vh auto;
    border-radius: 3px;
    max-width: 80vw;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  // button {
  //   font-size: .9rem;
  //   font-weight: 700;
  //   border: none;
  //   border-radius: 3px;
  //   padding: .3rem 1rem;
  //   margin-left: .5rem;
  // }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }

   // Smoc Module

   .smoc-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .smoc-modal-wrapper {
    @media screen and (max-width:800px){
      padding-left:10%;
      padding-right:10%
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    padding-left:30%;
    padding-right:30%
    
  }
  
  .smoc-modal {
    background: white;
    position: relative;
    margin: 10vh auto;
    border-radius: 3px;
    max-width: 80vw;
    padding: 1rem;
    margin-top: 10rem;
    
  }
  
  .smoc-modal-header {
    display: flex;
    justify-content: flex-end;
  }
  .smocTitle{
    margin-top:0.5%;
  }
  .smocText{
    margin-left:5%;
    margin-right:5%
  }
  .smoc-link{
    text-align: center;
  }
