.facebook-button{
    display: flex; 
    align-items: center;
    background: #4267b2;
    padding: 2%;
    
    .facebook-name{
    color: white; 
    font-weight: 600; 
    }

    .fb-icon{
        width: 20%; 
    }
}

