.facebook-button{
    display: flex; 
    align-items: center;
    background: #4267b2;
    border-radius: 5px;
    margin-bottom: 5%; 
    padding:2.5% 3%;
    height: 3.6875rem; 
    width:65%;

    @media screen and (max-width: 950px){
        padding: 1.5% .7%;
        width: 59%;
    }

    .facebook-name{
    color: white; 
    font-weight: 700; 
    letter-spacing: .1rem;
    font-size: 90%;
    padding-left:  8%; 

        
        @media screen and (max-width: 1650px) {
            font-size: 85%;
            padding: 0 6%;
        }

        @media screen and (max-width: 1500px){
            font-size: 75%;
            padding-left:5%;
        }

        @media screen and (max-width:950px){
            padding-left: 7%;
        }
    }

    .fb-icon{
        width: 14%; 

        @media screen and (max-width: 950px){
            width: 17%;
        }
    }


}

