.google-button{
    display: flex; 
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding:0% 3%;
    height: 3.6875rem; 
    width: 65%; 
    margin: 0% 0 5% 0%; 
    border-bottom: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);


    .google-name{
        color: #615d5d; 
        font-weight: 700; 
        letter-spacing: .1rem;
        font-size: 90%;
        padding:  0 7%; 
        font-family: 'Roboto', sans-serif;

        @media screen and (max-width: 1650px) {
            font-size: 85%;
            padding: 0 6%;
        }

        @media screen and (max-width: 1500px){
            font-size: 75%;
            padding-left:5%;
        }

    }

    .google-icon{
        width: 16%; 
    }


}

