.linkedin-button{
    display: flex; 
    align-items: center;
    background: #0076b2;
    border-radius: 5px;
    padding:2.5% 0%;
    height: 3.6875rem; 
    width:65%;
    
    @media screen and (max-width: 950px) {
        padding: 2.2% 0%;
        width: 59%;
    }

    @media screen and (max-width:500px){
        width: 92%;
        height: 2.875rem;
    }


    .linkedin-name{
    color: white; 
    font-weight: 700; 
    letter-spacing: .1rem;
    font-size: 90%;
    padding-left:  5%; 

        @media screen and (max-width:950px){
            font-size: 82%;
            padding-left: 8%;
            font-size: 85%;
        }

        
        @media screen and (max-width: 1650px) {
            font-size: 85%;
            padding: 0 6%;
        }

        @media screen and (max-width: 1500px){
            font-size: 75%;
            padding-left:5%;
        }

        @media screen and (max-width:500px){
            font-size: 50%;
            padding-left:0; 

        }
       
    }

    .linkedin-icon{
        width: 20%; 
        margin: 0; 
        border-radius: 5px;
        border-right:1px solid #01608f; 

        @media screen and (max-width: 500px){
            width: 25%;; 
            border-radius: 0px;
            border-right: none; 
        }
    }


}