.SCPbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 11% 0 11%;
    max-width: 1440px;
    // width: 78%;

    @media screen and (max-width: 1200px) {
        margin: 20px 9% 0 9%;
    }

    @media screen and (max-width: 1200px) {
        margin: 20px 7% 0 7%;
    }

}

.hidden {
    display: none;
  }

.SCPhero {
    // background-image: url("/cityscape.jpg");
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-position: center;
    // background-size: cover;
    // height: 500px;
    // max-width: 1400px;

    .SCPheroImg {
        min-height: 100%;
        min-width: 1000px;
        max-height: 600px;
        max-width: 1440px;
        display: block;
        margin: 0 auto;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
            
        /* Set up positioning */
        position: relative;
        top: 0;
        left: 0;
        
    }
}

.SCPcityIntro {
    height: 400px;
    display: flex;
    justify-content: center;
    max-width: 1440px;

    .SCPdescription {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 15px 0 0 0; 
        

        .SCPbackToExplore {
            display: flex;
            align-items: center;

            .backArrow {
                height: 13px;
                width: 13px;
            }
    
            .backLink {
                text-align: center;
                margin-top: 2px;
                margin-left: 5px;
                color: #2F78A6;
                text-decoration: none;
            }
        }

        .descH1 {
            // text-align: left;
            margin: 0 0 25px 0;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 3.38rem;
            line-height: 125.69%;
        }

        .city-desc{
          width: 67%;
          
            p {
                margin: 0;
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 1.13rem;
                line-height: 152%;

                @media screen and (max-width: 1200px) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 1000px) {
                    font-size: .9rem;
                }
            }
        }
    }
}

.SCPmain {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    .SCPsidebar {
        display: flex;
        flex-direction: column;
        width: 23%;
        height: auto;
        margin-right: 10%;
        justify-content: start;

        .SCPfilter {
            margin-top: 15px;

            h4 {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
            }
        }

        .SCPfilterCatContainer {
            
            ul {
                padding-inline-start: 0;
            }
            
        }
    } // ends SCPsidebar

    .SCPresources {
        max-width: 1400px;        
    
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 42px;
            line-height: 50px;
            margin: 0;
        }

        .resourcesContainer {
            display: flex;
            padding: 20px 0 110px 0;
    
            .resCat {
                display: flex;
                flex-direction: column;
    
                .resImg {
                    width: 237px;
                    height: 169px;
                    margin-right: 18px;
                    border-radius: 4.3px;
                }
    
                h5 {
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.13rem;
                    line-height: 21px;
                    margin: 10px 0 0 0;
                }
    
                p {
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 19px;
                }
            }
        }
    } // end SCPresources

    .SCPcategories {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 67%;
        margin: 0 0 100px 0;
        
        .SCPexplore {
            margin-bottom: 100px;

            h3 {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 43px;
                margin: 0;
            }

            .exploreContainer {
                width: 100%;

                .expCat {
                    display: flex;
                    width: 100%;
                    margin: 20px 0;

                    .expCatImgContainer {
                        width: 237px;
                        height: 169px;

                        .expCatImg {
                            width: 237px;
                            height: 169px;
                            border-radius: 4.3px;
                            
                        }
                    }

                    .expCatText {
                        height: 170px;
                        padding-left: 18px;

                        .expCatTitle {
                            
                            h4 {
                                font-family: Rubik;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 28px;
                                line-height: 33px;
                                margin: 0;
                            }
                        }

                        .expP {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.13rem;
                            width: 100%;

                            @media screen and (max-width: 1300px) {
                                font-size: 1rem;
                            }

                            @media screen and (max-width: 1200px) {
                                font-size: .9rem;
                            }

                            @media screen and (max-width: 1000px) {
                                font-size: .85rem;
                            }
                            
                            p {
                                margin: 12px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    } // ends SCPcategories
} // ends SCPmain