.SCPbody {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
}

.hidden {
    display: none;
  }

.SCPhero {
    // background-image: url("/cityscape.jpg");
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-position: center;
    // background-size: cover;
    // height: 500px;
    // max-width: 1400px;

    .SCPheroImg {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        max-width: 1440px;
        
    }
    
}

.SCPcityIntro {
    height: 250px;
    display: flex;
    // margin: 0 auto;
    max-width: 1440px;
    

    .SCPweather {
        display: flex;
        // justify-content: center;
        width: 40%;
        height: 185px;
        padding: 0 20px 20px 155px;
        margin: 65px 0 0 0;
        

        .weatherImage {
            display: flex;
            height: 125px;
            
        }

        .weatherInfo {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            text-align: right;
            // justify-content: flex-end;
            height: 125px;
            padding: 0;
            margin-left: 20px;

          .temp {
            font-size: 40px;
          }
        }
    }

    .SCPdescription {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        padding: 0;
        margin: 0;
        height: 250px;
        

        .descH1 {
          text-align: left;
          margin: 0 0 9px 0;
          font-size: 45px;
        }
        .city-desc{
          width: 75%;
          
            p {
                margin: 0;
                
            }
        }
    }
}

.SCPmain {
    width: 100%;
    max-width: 1440px;
    
    margin: 0;

    .SCPsidebar {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 1000px;
        

        .SCPfilter {
            margin-top: 15px;
            padding-left: 156px;
            

            h4 {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
            }
        }

        .SCPfilterCatContainer {
            padding-left: 116px;
            
        }
    } // ends SCPsidebar

    .SCPcategories {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0;
        

        .SCPexplore {
            
            h3 {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 43px;
                margin: 0;
            }
            .exploreContainer {
                width: 100%;

                .expCat {
                    display: flex;
                    width: 100%;
                    
                    margin: 20px 0;

                    .expCatImg {
                        width: 237px;
                        height: 169px;
                        border-radius: 4.3px;
                        
                    }

                    .expCatText {
                        height: 170px;
                        padding-left: 18px;

                        .expCatTitle {
                            
                            
                            h4 {
                                font-family: Rubik;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 28px;
                                line-height: 33px;
                                margin: 0;
                            }
                        }

                        .expP {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            width: 95%;
                            
                            p {
                                margin: 12px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    } // ends SCPcategories
} // ends SCPmain

.SCPresources {
    max-width: 1400px;
    // margin-top: 80px;
    

    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 50px;
        margin: 0;
    }
    .resourcesContainer {
        display: flex;
        padding: 20px 0 110px 0;

        .resCat {
            display: flex;
            flex-direction: column;

            .resImg {
                width: 237px;
                height: 169px;
                margin-right: 18px;
                border-radius: 4.3px;
            }

            h5 {
                font-family: Rubik;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                margin: 10px 0 0 0;
            }

            p {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
} // end SCPresources

