// /* http://meyerweb.com/eric/tools/css/reset/ 
//    v2.0 | 20110126
//    License: none (public domain)
// */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }
/* fonts */
@import url('https://fonts.google.com/specimen/Rubik?selection.family=Rubik:300,400,500,700');

/* * Styling code begins here */
html,body{
  background: #fff;
  margin:0 auto;
  font-family: 'Rubik', sans-serif;
  box-sizing:border-box;
  color: #2e2f38;
  line-height:1.26;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing:border-box
}

//* Navigation Styling
.no-color{
  background:none !important;
}
.mock-logo{
  width:110px;
  margin-top:-45px;
  margin-bottom:-45px;
}

.navigation-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     width: 100%;
     opacity: 0.97;
     padding:10px 0;
     padding-top:15px;
     font-size: 0.9rem;
     z-index: 99999;
     margin:0 auto;
     background-color: #fff;
     transition: top 0.3s;

     
  }
  .unfixed {
    position:absolute;
  }

  .hide-nav{
    display:none;
  }
  .show-nav{
    display: flex;
    z-index:999999;
  }

   .navigation-container:active{
     background-color: #fff;
  }

   .header-logo {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding-left: 1.5rem;
     width: 15%;
   }
   .main-nav {
     width: 35%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 0%;
     padding-right:2%;
   }
   
  .main-nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    text-align:center;
    // color:#2e2f38;
    font-size:1rem;
    transition: .3s cubic-bezier(0.2,0.8,0.2,1);
    transition:0.33s ease;
  }

  .main-nav a:hover{
    text-decoration: underline;
    // color:#2ca4fc;
  }
  #login-link{
    color:#2ca4fc;

    img{
      height:20px;
      width:20px;
      margin-right:3px;
    }

    &:hover{
      color:#2ca4fc;
    }
  }
  #signup-link{
    border:none;
    background-color:#00bfa5;
    border-radius:5px;
    padding:10px 13px;
    color:white;
    text-decoration:none;
    transition:0.22s ease;
    &:hover{
      color:white;
      filter:brightness(110%);
    }
  }
  .nav-button{
    border:none;
    // background-color:#2da4fc;
    border-radius:5px;
    padding:5px 8px;
    // color:white;
    color: #2e2f38;
    text-decoration:none;
    transition:0.22s ease;
    &:hover{
      // color:white;
      text-decoration:underline;
//       filter:brightness(110%);
    }
  }
@media screen and (max-width:800px){
  .main-nav{
    width:65%;
  }
}

@media screen and (max-width: 500px) {
     .main-nav {
          width:100%;
    }
    .main-nav a {
         display: none;
    }
    .navigation-container{
      background-color:#fff !important;
      nav {
        width:100%;
      }
      nav a {
          display: none;
      }
    }
    .sign-up-btn {
         display: none;
    }
}
#noUnderline {
     text-decoration:none;
}



/* Dropdown menu */
@media screen and (max-width:6000px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
     .dropdownContainer-loggedin .dropdown-content-loggedin .redundant{
       display:none;
     }
}
@media screen and (max-width:1440px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
     .dropdownContainer-loggedin .dropdown-content-loggedin .redundant{
      display:none;
    }
}
@media screen and (max-width:800px){
    #popupmap{
      display:none;
    }
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
     .dropdownContainer-loggedin .dropdown-content-loggedin .redundant{
      display:none;
    }
}

@media screen and (max-width:630px){
  #popupmap{
    display:none;
  }
    .navigation-container nav {
         display:none;
    }
    
     .dropdownContainer{
          display:flex;
     }
    .dropbtn {
      background-color:#fcfcfb;
      color: #2ca4fc;
      font-weight:600;
      padding: 10px 20px;
      font-size: 16px;
      border: 1.4px solid #2ca4fc;
      border-radius:5px;
      margin-right:30px;

      &:hover{
          transition:0.33s ease;
      }
    }
    .dropbtn-loggedin {
      padding: 10px 20px;
      margin-right:30px;

      &:hover{
          transition:0.33s ease;
      }
    }

    .dropdown {
      position: relative;
      // display: inline-block;
      float:right;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 150px;
      z-index: 1;
    }

    .dropdown-content a {
      color: #2e2f38;
      padding: 15px 15px;
      text-decoration: none;
      display: block;
      font-size:1.1rem;
    }
    .dropdownContainer-loggedin .dropdown-content-loggedin .redundant{
      display:block;
    }

    .dropdown-content a:hover {
        color:#fcfcfb;
        background-color: #2ca4fc;
      }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
        color:#fcfcfb;
      background-color: #2ca4fc;
    }

}
//dropdown menu logged-in
.dropdownContainer-loggedin{
   display:flex;
}
.dropbtn-loggedin {
padding: 10px 20px;
margin-right:30px;

img {
  border-radius: 100%;
}

&:hover{
   transition:0.33s ease;
}
}

.dropdown-loggedin {
position: relative;
// display: inline-block;
float:right;
}

.dropdown-content-loggedin {
display: none;
position: absolute;
right: 0;
background-color: #f9f9f9;
min-width: 150px;
z-index: 1;
}

.dropdown-content-loggedin a {
color: #2e2f38;
padding: 15px 15px;
text-decoration: none;
display: block;
font-size:1.1rem;
}

.dropdown-content-loggedin a:hover {
 color:#fcfcfb;
 background-color: #2ca4fc;
}

.dropdown-loggedin:hover .dropdown-content-loggedin {
display: block;
}

.dropdown-loggedin:hover .dropbtn-loggedin {
 color:#fcfcfb;
background-color: #2ca4fc;
}

//* Dashboard Bonus Features CTA
.kevin-motor{
  background-color:#F8FCFF;
  background-color:#F1F9FD;
  border-top:1px solid #ECF1F5;
}
.bonus-features-container{
  max-width:900px;
  width: 100%;
  margin: 0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;

  .motorbike{
    width:350px;
    filter: contrast(105%);
  }

  .bonus-features-CTA{
    width:100%;
    margin-left:20px;
  
    .bonus-features-title{
      font-size:1.5rem;
      font-weight:500;
      margin-bottom:0;
    }

    .bonus-features-description{
      margin-top:10px;
      font-size:1.2rem;
      line-height:1.4;
    }

    .sign-up-CTA{
      background-color:#5666fa;
      color:white;
      border:none;
      padding:10px 37px;
      border-radius:5px;
      font-size:1.2rem;
      transition:0.22s ease;

      cursor:pointer;
      &:focus{
      outline:0;
      }

      &:hover{
        filter: brightness(130%);
      }
    }
  }
}
@media screen and (max-width:600px){
  .bonus-features-container{
    flex-direction:column;

    .bonus-features-CTA{
      padding: 0 5%;
    }    
    .motorbike{
      width:250px;
    }
    .bonus-features-CTA{
      margin-left:0;
      .fonus-features-title{
        font-size:1.2rem;
      }
      .bonus-features-description{
        font-size:1rem;
      }
      .sign-up-CTA{
        font-size:1.15rem;
        width:50%;
      }
    }
  }
}







.dashboard-search-container{
  margin-top:120px;
  margin-bottom:50px;
  margin-left:4%;
  display:flex;
  justify-content:space-between;
  

  .dashboard-image{
    width:55%;
    margin-right:2em;
  
    .landing-image{
    position:relative;
    width:100%;
    }
  }

  // * TOGGLE FUNCTION
  .toggle-div{
    width:97%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;

  #search-toggle{
    display:inline;
    margin-top:5px;
    display:flex;
    align-items:center;
    color:grey;

    .switch {
      position: relative;
      display: inline-block;
      width: 41px;
      height: 23px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .3s;
      transition: .3s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 17.42px;
      width: 17.42px;
      left: 2.7px;
      bottom: 2.7px;
      background-color: white;
      -webkit-transition: .3s;
      transition: .3s;
    }

    input:checked + .slider {
      background-color: #00bfa5;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(17.42px);
      -ms-transform: translateX(17.42px);
      transform: translateX(17.42px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }


    .search-toggle-green{
      color:#00bfa5 !important;
    }
  }
  }

  
  // * SEARCH FUNCION
  .dashboard-search-function{
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    width:45%;
    animation: DashboardCTA;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    animation-timing-function:cubic-bezier(0.2,0.8,0.2,1);
    transition: .7s cubic-bezier(0.2,0.8,0.2,1);
    @keyframes DashboardCTA {
      0% {
        opacity: 0;                
        transform: translateY(30px);
      }

      100%{
        opacity: 1;
        transform: translateY(0px);
      }
    }
    .dashboard-title{
      margin-top:30px;
      width:100%;
      font-weight:500;
      font-size:7.5vw;
      line-height:1;
      margin-bottom:35px;
    }


    input{
      background-image:url('./components/dashboard/assets/search.svg');
      background-position:10px 12px;
      background-repeat: no-repeat;
      background-color: #f7f9f9;
      padding:13px 40px;
      font-size:1.1rem;
      padding-left:39px;
      width:97%;
      border:1px solid #b8bec4;
      border-radius:5px;
      box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.07);

      &:focus{
        outline:none;
        filter:brightness(110%);
      }
    }

      .imageStyle{
        height:17px;
        width:20px;
      }

    // * SINGLE SEARCH CONTAINER
    .dashboard-single-search-container{
      margin-bottom:7px;
      animation: DashboardCTR;
      animation-duration: 1s;
      animation-fill-mode:forwards;
      animation-timing-function:cubic-bezier(0.2,0.8,0.2,1);
      transition: .5s cubic-bezier(0.2,0.8,0.2,1);
      
      @keyframes DashboardCTR {
        0% {
          opacity: 0;                
          transform: translateY(-20px);
        }

        100%{
          opacity: 1;
          transform: translateY(0px);
        }
      }
      font-size:1.1rem;
    }
    

    .dashboard-compare-search-container{
      animation: DashboardCTA;
      animation-duration: 1s;
      animation-fill-mode:forwards;
      animation-timing-function:cubic-bezier(0.2,0.8,0.2,1);
      transition: .5s cubic-bezier(0.2,0.8,0.2,1);
      
      @keyframes DashboardCTA {
        0% {
          opacity: 0;                
          transform: translateY(-20px);
        }

        100%{
          opacity: 1;
          transform: translateY(0px);
        }
      }
        input{
          border-radius:5px;
          border:1px solid #b8bec4;
          margin-bottom:10px;
        }
    }

    .compare-button{
      border:none;
      border-radius:5px;
      font-size:1.1rem;
      font-weight:500;
      padding:14px 50px;
      background-color:#2ca4fc;
      color:white;
      max-width:400px;
      transition:0.22s ease;
      box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.07);

      cursor:pointer;
      &:focus{
        outline:0;
      }
      &:hover{
        filter: brightness(115%);
      }
    }
  }
}

@media screen and (max-width:900px){
  .dashboard-search-container{
    .dashboard-search-function{
      .compare-button{
        padding:14px 45px;
      }
    }
  }
}

@media screen and (max-width:700px){
      .dashboard-search-container{
        flex-direction:column-reverse;
        margin-top:100px;
        margin-bottom:20px;
        margin-right:4%;
        align-items:center;

        .toggle-div{
          width:100%;
          justify-content:space-between;
        }

        .dashboard-image{
          width:70%; 
          margin-right:0;
        }

        .dashboard-search-function{
          width:100%;
          input{
            width:100%;
          }

          .dashboard-title{
            margin-top:0;
            text-align:center;
          }
          .compare-button{
            padding:14px 50px;
          }
        }
      }

      .dashboard-single-search-container{
        text-align:center;

        form{
          input:active{
            padding:13px 40px;
          }
        }
      }
  }

  @media screen and (max-width:500px){
    .dashboard-search-container{
      .dashboard-image{
        width:100%;
      }

      .dashboard-search-function{
        .dashboard-title{
          margin-top:10px;
          font-size:9vw;
          margin-bottom:40px;
        }
      }
    }
  }


.dashboard-features-title{
  margin:0 auto;
  max-width:1000px;
  width:100%;
  padding-bottom:25px;
  
  .features-title{
    font-size:1.6rem;
    font-weight:500;
    padding-left:1%;
  }
}

@media screen and (max-width:500px){
  .dashboard-features-title{
    padding-top:30px;
    padding-bottom:40px;
    margin-bottom:0;
    text-align:center;
    .features-title{
      padding:0;
    }
  }
}


//* Dashboard Features Styling
.kevin{
  margin-top:40px;
  padding-top:30px;
  padding-bottom:80px;
  background-color:#F1F9FD;
  border-bottom:1px solid #ECF1F5;
  border-top:1px solid #ECF1F5;
  height:270px;
  // border-bottom-left-radius: 100%;
  // border-bottom-right-radius: 100%;
  
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
}
.dashboard-features-container{
  margin:0 auto;
  max-width:1000px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  
  .feature-descriptions-container{
    width:29%;
    display:flex;
    align-items:flex-start;
  }
  .feature-descriptions{
    line-height:1.5;
    margin-left:10px;
  }
  .feature-images{
    width:55px;
    height:55px;
    margin-top:5px;
    width:100%;
  }
  .feature-title{
    margin-bottom:5px;
    font-size:1.2rem;
    font-weight:500;
  }
  p{
    margin:0;
  }
}
@media screen and (max-width:900px){
  .kevin{
    height:370px;
  }
  .dashboard-features-container{
    padding-left:5%;
    padding-right:5%;
    .feature-descriptions-container{
      flex-direction:column;
    }
    .feature-images{
      margin-bottom:15px;
    }

  }
}
@media screen and (max-width:600px){
  .kevin{
    height:400px;
  }
}
@media screen and (max-width:500px){
  .kevin{
    margin-top:50px;
    padding-top:5px;
    padding-bottom:10px;
    height:auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dashboard-features-container{
    flex-direction:column;
    padding-left:0;
    padding-right:0;
    
    .feature-descriptions-container{
      margin: 0 auto;
      margin-bottom:50px;
      margin-top:0;
      flex-direction:row;
      align-items:center;
      align-content:space-between;
      width:85%;
    }
    .feature-descriptions{
      margin-left:20px;
    }
    .feature-images{
      width:65px;
      height:65px;
      width:50%;
    }
  }
}



//* Dashboard Data Metrics Styling
.dashboard-metrics-container{
  display:flex;
  flex-direction:column;
  margin-bottom:100px;

  .dashboard-metrics{
    margin:0 auto;
    margin-top:100px;
    max-width:1000px;
    padding: 0 3%;
    width:100%;
    display:flex;
    justify-content:space-between;
  }
  .metrics-description-container{
    width:30%;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-end;
    height:250px;
  }
  .metrics-title{
    font-size:1.6rem;
    text-align:center;
    font-weight:500;
    margin-top:100px;
    margin-bottom:0;
  }
  .metrics-description{
    text-align:center;
    color:#596B77;
    line-height:1.5;
  }
  .metrics-description-title{
    margin-bottom:5px;
    margin-top:10px;
    font-weight:500;
    color:#2e2f38;
  }
}
@media screen and (max-width:1000px){
  .dashboard-metrics{
    padding: 3% 5%;
  }
}
@media screen and (max-width:800px){
  .dashboard-metrics-container{
    margin-bottom:30px;
    
    .dashboard-metrics{
      .metrics-description-container{
        height:auto;
      }
    }
    .metrics-title{
      margin-bottom:0px !important;
    }
  }
}
@media screen and (max-width:500px){
  .dashboard-metrics-container{
    margin-bottom:0px;

    .dashboard-metrics{
        padding: 3% 5%;
        margin-top:30px;
        flex-direction:column;

      .metrics-description-container{
        width:100%;
        display:flex;
        height:auto;
        justify-content:center;
        margin-bottom:60px;

        p{
          padding-left:25px;
          padding-right:25px;
          width:100%;
          text-align:center;
        }
      }
    }
    .metrics-title{
      margin-bottom:0 !important;
      margin-top:50px;
    }
  }
}





/* dashboard animations styling */

@media screen and (max-width: 500px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}


// * Footer Styling
.footer-container{
  border-top:1px solid rgba(203, 230, 252, 0.562);
  background-color:#F4F5FF;
  height:300px;
  display:flex;


  .footer{
    display:flex;
    width:100%;
    padding:0 5%;
    justify-content:space-between;
    padding-top:10px;
  }
  .footer-CTA{
    // border:1px solid red;
    width:50%;
    display:flex;
    flex-wrap:wrap;
    align-content:space-between;
    flex-direction:column;
    justify-content:space-between;

    p{
      font-size:1.4rem;
      padding-top:8px;
      margin-bottom:10px;
    }
    .footer-CTA-button{
      background-color:#2ca4fc;
      color:white;
      padding:10px 40px;
      border-radius:5px;
      border:none;
      font-size:1.2rem;
      transition:0.22s ease;

      cursor:pointer;
      &:focus{
        outline:0;
      }
      &:hover{
        filter:brightness(110%);
      }
    }
    .copyright{
      font-size:15px;
      color:#8898aa;
    }
  }
  .footer-categories-container{
    width:55%;
    display:flex;
    justify-content:space-around;
    padding-top:10px;
    font-size:15px;
  }
  .footer-categories{
    display:flex;
    flex-direction:column;
  }
  .footer-title{
    text-align:left;
    color: #2e2f38;
    margin-bottom:5px;
    font-size:1.1rem;
    font-weight:500;
  }
  a{
    color:#8898aa;
    margin:8px 0;
    text-decoration:none;
    &:hover{
      color: #2e2f38;
    }
  }
}
@media screen and (max-width:6000px){

  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:1440px){
  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:800px){
  .footer-CTA{
    width:30%;
  }
  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:600px){
  .footer-container{
    height:450px;
  
  .footer{
    flex-direction:column;
    align-items:center;
  }
   .footer-CTA{
    border-bottom:1px solid #ceced0;
    width:100% !important;
    padding-bottom:10%;
    padding-top:5%;

    .footer-CTA-button{
      min-width:300px;
      height:40px;
      font-size:1.1rem;
      padding:0 10px;
      text-align:center;
      font-weight:500;
    }
  }
  .footer-CTA-description{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
  }
  
  .copyright{
    display:none;
  }
  .footer-categories-container{
    justify-content:space-between;
    width:100% !important;
  }
  .copyright-mobile{
    display:flex;
    width:100%;
    padding:5% 0;
    color:#8898aa;
  }
}
}

.motoranimationcontainer{
  display: block;
  position: relative;
  height: 300px;
  min-width: 300px;
  align-items: center;
  .motoranimbackground{
    position: relative;
    background: url("./components/dashboard/assets/motorbike_background.png") repeat 0 0;
    background-size: cover;
    animation: slide 3s linear infinite;
    height: 300px;
    width: 300px;
    .edgeblurleft{
      position: absolute;
      left: 0px;
      height:300px;
      width: 150px;
    }
    .edgeblurright{
      position: absolute;
      transform: scaleX(-1);
      right: 0px;
      height:300px;
      width: 150px;
    }
    }
  .motoranim{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .wheel{
    animation: rotating .5s linear infinite;
  }
  .plant{
    animation: plant .5s cubic-bezier(0.33333, 0.66667, 0.66667, 1) infinite;
  }
  .driver{
    animation: driver .5s cubic-bezier(0.310, 0.440, 0.445, 1.650) infinite;
  }
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -300px 0; }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes plant {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-5deg) translate(5px, -5px);
  }
  50%{
    transform: rotate(10deg) translate(-5px, -5px);
  }
  75%{
    transform: rotate(-7deg) translate(-7px, -8px);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes driver {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-3deg) translate(2px, -1px);
  }
  50%{
    transform: rotate(5deg) translate(-3px, -2px);
  }
  75%{
    transform: rotate(-3deg) translate(-4px, -3px);
  }
  100%{
    transform: rotate(0deg);
  }
}