/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * Styling code begins here */
html,body{
  background: #fcfcfb;
  margin:0 auto;
  font-family: 'Raleway', sans-serif;
  color: #2e2f38;
  /* max-width:1440px;
  width:100%;
  margin:0 auto; */
}






/* * Dashboard styling */
/* .dashboard-search-container{
  border: 1px solid black;
  position: relative;
  width:100%;
  height:300px;
  z-index: 99999;
  background: #F2F9FD;
}
.dashboard-search-container:before{
  position:absolute;
  width:100%;
  height:100%;
  content:'';
  background:inherit;
  z-index:-1;
  top:0;
  right:0;
  left:0;
  transform-origin: bottom left;
  transform: skewY(4deg);
    background: #F2F9FD;

} */
.dashboard-search-container{
  position:relative;
  height:800px;
  background-color:#F2F9FD;
  border:1px solid purple;
}
.dashboard-search-container:after{
  position:absolute;
  width:100%;
  height:100%;
  content:'';
  background:inherit;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transform-origin: top left;
  transform: skewY(4deg);
}

.slanted-san-francisco{
  background-image:url('./components/dashboard/assets/sanFrancisco.jpeg');
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  height:400px;
  overflow:hidden;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index:99999;
  border:1px solid red;
}

/* .slanted-blue-one{
  background-image:url('./components/dashboard/assets/firstdiv.svg');
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 90%);
  height:400px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index:-99999;
  border:1px solid red;
} */
.search-function{
  position:relative;
  z-index:999999;
  border:1px solid red;
}



.dashboard-features-container{
  border:1px solid black;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.feature-descriptions{
  width:25%;
}
.feature-images{
  width:90%;
}
.dashboard-metrics-container{
  background:url('./components/dashboard/assets/seconddiv.svg');
  height:500px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.dashboard-compare-container{
  border:1px solid black;
}