// /* http://meyerweb.com/eric/tools/css/reset/ 
//    v2.0 | 20110126
//    License: none (public domain)
// */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }
/* fonts */
@import url('https://fonts.google.com/specimen/Rubik?selection.family=Rubik:300,400,500,700');

/* * Styling code begins here */
html,body{
  background: #fcfcfb;
  margin:0 auto;
  font-family: 'Rubik', sans-serif;
  box-sizing:border-box;
  color: #2e2f38;
  line-height:1.26;

}

* {
  box-sizing:border-box
}

//* Navigation Styling
.no-color{
  background:none !important;
}
.mock-logo{
  width:140px;
  margin-top:-45px;
  margin-bottom:-50px;
}

.navigation-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     width: 100%;
     opacity: 0.97;
     padding:10px 0;
     padding-top:5px;
     font-size: 0.9rem;
     z-index: 99999;
     margin:0 auto;
     background-color: #fff;
    //  background:none;
     transition: top 0.3s;
  }

  .hide-nav{
    display:none;
  }
  .show-nav{
    display: flex;
    z-index:999999;
  }

   .navigation-container:active{
     background-color: #fff;
  }

   .header-logo {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding-left: 1.5rem;
     width: 15%;
   }
   nav {
     width: 40%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 4%;
     padding-right:4%;
   }
  nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:#2e2f38;
    font-size:1rem;
    transition: .3s cubic-bezier(0.2,0.8,0.2,1);
    transition:0.33s ease;
  }
  nav a:hover{
    color:#2e2f38;
    text-decoration: underline;
  }
  .login-link{
    color:#2ca4fc;

    img{
      height:20px;
      width:20px;
      margin-right:3px;
    }

    &:hover{
      color:#2ca4fc
    }
  }
  .signup-link{
    border:none;
    background-color:#00bfa5;
    border-radius:5px;
    padding:8px 16px;
    color:white;

    &:hover{
      color:#00bfa5;
      background-color:white;
      border:1px solid #00bfa5;
      text-decoration:none;
    }
  }
@media screen and (max-width:800px){
  nav{
    width:50%;
  }
}

@media screen and (max-width: 500px) {
     nav {
          width:100%;
    }
    nav a {
         display: none;
    }
    .navigation-container{
      background-color:#fff !important;
    }
    .sign-up-btn {
         display: none;
    }
}
#noUnderline {
     text-decoration:none;
}



/* Dropdown menu */
@media screen and (max-width:6000px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}
@media screen and (max-width:1440px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}
@media screen and (max-width:800px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}

@media screen and (max-width:500px){
    .navigation-container nav {
         display:none;
    }
    
     .dropdownContainer{
          display:flex;
     }
    .dropbtn {
      background-color:#fcfcfb;
      color: #2ca4fc;
      font-weight:600;
      padding: 10px 20px;
      font-size: 16px;
      border: 1.4px solid #2ca4fc;
      border-radius:5px;
      margin-right:30px;

      &:hover{
          transition:0.33s ease;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
      float:right;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 150px;
      z-index: 1;
    }

    .dropdown-content a {
      color: #2e2f38;
      padding: 15px 15px;
      text-decoration: none;
      display: block;
      font-size:1.1rem;
    }

    .dropdown-content a:hover {
        color:#fcfcfb;
        background-color: #2ca4fc;
      }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
        color:#fcfcfb;
      background-color: #2ca4fc;
    }

}





/* * Dashboard styling */
//* Dashboard Search Function Styling
.dashboard-search-container{
  position:relative;
  height:700px;
  width:100%;
  background-color:#F2F9FD;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.slanted-san-francisco{
  background-image:url('./components/dashboard/assets/sanFrancisco.jpeg');
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height:350px;
  overflow:hidden;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index:-1;
  filter: contrast(110%) brightness(110%);
}
.search-function{
  position:relative;
  height: auto;
  margin:0 auto;
  width:60%;
  max-width:600px;
  background-color:white;
  // z-index:1;
  margin-top:-100px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:35px 40px;

  h1{
    font-size:1.6rem;
    margin:10px 0;
  };
  form{
    margin:30px 0;
  }
  input{
    background-color: #f7f9f9;
    padding:10px 70px;
    border-radius:5px;
    font-size:1rem;
    border:none;
    padding-left:20px;
    border:1px solid #efefef;
    &:focus{
      outline:0;
    }
  }
  .cities-description{
    text-align:center;
    font-size:1rem;
    margin-top:0;
  }
  .search-city-button{
    font-size:1rem;
    padding:10px 30px;
    border-radius:5px;
    background-color:#2ca4fc;
    border:none;
    color:white;
    margin-left:25px;
    transition:0.33s ease;
    cursor:pointer;
    &:focus{
      outline:0;
    }
    &:hover{
      border:1px solid #2ca4fc;
      background-color:#fff;
      color:#2ca4fc;
    }
  }
  .cities-description-two{
    margin-top:10px;
    max-width:300px;
    font-size:15px;
    text-align:center;
  }
  .compare-cities-button{    
    padding:10px 35px;
    border-radius:5px;
    border:1px solid #2ca4fc;
    color:#2ca4fc;
    font-size:1.1rem;
    transition:0.33s ease;
    cursor:pointer;
    &:focus{
      outline:0;
    }

    &:hover{
      border:none;
      background-color:#2ca4fc;
      color:white;
    }
  }
}
@media screen and (max-width:800px){
  .search-function{
    // border:1px solid red;
      width:85%;
      padding:30px 30px;
  }
}
@media screen and (max-width:500px){
  .search-function{
    input{
        width:100%;
      }
      .search-city-button{
        width:100%;
        margin-left:0;
        margin-top:10px;
      }
      .compare-cities-button{
        width:90%;
      }
  }
}


//* Dashboard Features Styling
.dashboard-features-container{
  padding:7% 0;
  margin:0 auto;
  max-width:950px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  
  .feature-descriptions-container{
    width:29%;
    display:flex;
    align-items:flex-start;
  }
  .feature-descriptions{
    line-height:1.5;
    margin-left:10px;
  }
  .feature-images{
    width:55px;
    height:55px;
    margin-top:5px;
    width:100%;
  }
  .feature-title{
    font-weight:bold;
    font-size:1.15rem;
    margin-bottom:8px;
  }
  p{
    margin:0;
  }
}
@media screen and (max-width:850px){
  .dashboard-features-container{
    padding:7% 5%;
    .feature-descriptions-container{
      flex-direction:column;
    }
    .feature-images{
      margin-bottom:15px;
    }

  }
}
@media screen and (max-width:500px){
  .dashboard-features-container{
    flex-direction:column;
    padding:7% 0;

    .feature-descriptions-container{
      margin: 7% auto;
      flex-direction:row;
      align-items:center;
      align-content:space-between;
      width:75%;
    }
    .feature-descriptions{
      margin-left:20px;
    }
    .feature-images{
      width:65px;
      height:65px;
      width:50%;
    }
  }
}



//* Dashboard Data Metrics Styling
.dashboard-metrics-container{
  background:url('./components/dashboard/assets/seconddiv.svg');
  height:700px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display:flex;
  flex-direction:column;

  .dashboard-metrics{
    margin:0 auto;
    max-width:1000px;
    width:100%;
    display:flex;
    justify-content:space-between;
  }
  .metrics-description-container{
    width:28%;
  }
  img{
    width:100%;
    background-color:white;
    padding:25px;
  }
  .metrics-title{
    width:100%;
    margin:50px auto;
    margin-top:90px;
    max-width:1000px;
  }
  .metrics-description{
    line-height:1.5;
  }
}
@media screen and (max-width:1000px){
  .dashboard-metrics{
    padding: 3% 5%;
  }
}
@media screen and (max-width:500px){
  .dashboard-metrics-container{
    height:900px;
    .dashboard-metrics{
        padding: 3% 5%;
        flex-direction:column;

      .metrics-description-container{
        width:100%;
        display:flex;
        margin:15px 0;
        align-items:center;
        justify-content:space-between;

        img{
          padding:3px;
          width:40%;
        }
        p{
          width:55%;
        }
      }
    }
    .metrics-title{
      margin-bottom:0;
    }
  }
}


//* Dashboard Compare Function Styling
.dashboard-compare-container{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:5% auto;
  max-width:900px;
  width:100%;
  
  .dashboard-compare{
    margin:0 auto;
    max-width:800px;
    width:100%;
    padding:3% 5%;
    display:flex;
    flex-wrap:wrap;
    h2{
      margin-bottom:0;
    }
    p{
      max-width:550px;
      width:100%;
      font-size:1.1rem;
      line-height:1.5;
    }
  }
  .compare-search-function{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin:10px 0;
    width:100%;
  }
  // .compare-address-label{
  //   // border:1px solid red;
  //   margin-right:10px;
  //   font-size:1rem;
  //   font-weight:600;
  //   margin-bottom:5px;
  // }
  input{
    background-color: #f7f9f9;
    padding:10px 65px;
    border-radius:5px;
    font-size:1rem;
    border:none;
    padding-left:20px;
    border:1px solid #efefef;
    transition:0.33s ease;
    &:focus{
      outline:0;
    }
  }
  button{
    font-size:1rem;
    padding:10px 35px;
    border-radius:5px;
    background-color:#F2994A;
    border:none;
    color:white;
    margin-top:18px;
    font-size:1.1rem;
    transition:0.33s ease;
    cursor:pointer;
    &:focus{
      outline:0;
    }

    &:hover{
      border:1px solid #F2994A;
      color:#F2994A;
      background-color:white;
    }
  }
  .compare-buttons{
    width:50%;
  }
  .versus{
    margin:0 15px;
  }
}
@media screen and (max-width:500px){
  .dashboard-compare-container{

    .dashboard-compare{
      padding:3% 8%;
    }
    .compare-search-function{
      margin-bottom:15px;
    }
    button{
      margin-top:10px;
      width:100%;
    }
    .compare-buttons{
      width:100%;
    }
  }
}

// * Footer Styling
.footer-container{
  border-top:1px solid #efefef;
  margin-top:13%;
  background-color:#F1F9FD;
  height:300px;
  display:flex;

  .footer{
    display:flex;
    width:100%;
    padding:0 5%;
    justify-content:space-between;
    padding-top:10px;

  }
  .footer-CTA{
    width:30%;
    display:flex;
    flex-wrap:wrap;
    align-content:space-between;
    flex-direction:column;
    justify-content:space-between;

    p{
      font-size:1.3rem;
      padding-top:8px;
      margin-bottom:10px;
    }
    .footer-CTA-button{
      background-color:#2ca4fc;
      color:white;
      padding:10px 20px;
      border-radius:5px;
      border:none;
      font-size:1rem;
      transition:0.33s ease;

      &:hover{
        border:1px solid #2ca4fc;
        color:#2ca4fc;
        background-color:white;
      }
    }
    .copyright{
      font-size:15px;
      color:#8898aa;
    }
  }
  .footer-categories-container{
    width:55%;
    display:flex;
    justify-content:space-around;
    padding-top:10px;
    font-size:15px;
  }
  .footer-categories{
    display:flex;
    flex-direction:column;
  }
  .footer-title{
    text-align:left;
    color: #2e2f38;
    margin-bottom:5px;
    font-size:1.3rem;
  }
  a{
    color:#8898aa;
    margin:8px 0;
    text-decoration:none;
    &:hover{
      color: #2e2f38;
    }
  }
}
@media screen and (max-width:6000px){

  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:1440px){
  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:800px){
  .copyright-mobile{
    display:none;
  }
}
@media screen and (max-width:500px){
  .footer-container{
    height:450px;
  }
  .footer{
    flex-direction:column;
    align-items:center;
  }
   .footer-CTA{
    border-bottom:1px solid #ceced0;
    width:100% !important;
    padding-bottom:10%;
    padding-top:5%;
  }
  .footer-CTA-description{
    display:flex;
    width:100%;
    justify-content:space-around;
    align-items:center;
  }
  .footer-CTA-button{
    max-width:130px;
    height:40px;
  }
  .copyright{
    display:none;
  }
  .footer-categories-container{
    justify-content:space-between;
    width:100% !important;
  }
  .copyright-mobile{
    display:flex;
    width:100%;
    padding:5% 0;
    color:#8898aa;
  }
}
