.privacy-policy{
    display:flex; 
    padding: 3%; 
    overflow: hidden;
    height: 100vh;
}

.privacy-policy-nav{
    padding: 5%;

    ul{
        list-style-type: none;
    }

    
}

.privacy-policy-container{
    overflow: auto;

}

