//signup form


.signup{
    width: 100%; 
    border: 5px solid green; 
    margin-top: 10%; 
    background: linear-gradient(90deg, #dfe3fe 42%, #5d73fa 42%);

    .inner-form{
        margin: 5% 12%;
        padding: 5%; 
        background: white;
        border-radius: 20px;
    }

    
}

.form{
    width: 35%; 
    padding: 3%; 
}

.auth{
    display:flex; 
    flex-direction: column;
}
.google{
    width: 20%; 
}

.fb{
    width: 15%; 
}

.auth{
    div{
        width: 100%; 
        border-radius: 20px; 
        background: white; 
        border: 1px solid #3999fc;
        margin-top: 2%; 
        
    }
}

.facebook{
    width: 215px; 
}